@charset "utf-8";
@import url("fonts.css");

:root {
  font-size: 16px;
  --primary-c-y: #f5d590;
  --primary-c-b: #000;

  --primary-c: #000;
  --line-color: #ddd;
  --table-th-color: #f7f7f7;
  --disabled-color: #f2f2f2;
  --box-color: #f3f3f3;
  --btn-border-color: #bbb;
  --red-color: #ff5c46;
  --blue-color: #4567ad;

  --Primary-100: #fff8d6;
  --Primary-200: #fff4ba;
  --Primary-300: #ffea79;
  --Primary-400: #ffdb5c;
  --Primary-500: #ffd02d;
  --Primary-600: #ffb905;
  --Primary-700: #e4a400;
  --Primary-800: #bb8700;
  --Primary-900: #9a6f00;

  --Secondary-100: #ebf4ff;
  --Secondary-200: #d9e8ff;
  --Secondary-300: #c4dbff;
  --Secondary-400: #7eb2ff;
  --Secondary-500: #64a2ff;
  --Secondary-600: #3e8bff;
  --Secondary-700: #287eff;
  --Secondary-800: #0267fd;
  --Secondary-900: #0d4cc6;

  --Neutral-100: #f9f9f9;
  --Neutral-200: #f2f3f3;
  --Neutral-300: #e4e5e6;
  --Neutral-400: #cfcfd0;
  --Neutral-500: #b7b8b9;
  --Neutral-600: #8e8f90;
  --Neutral-700: #6e6e6e;
  --Neutral-800: #303030;
  --Neutral-900: #111;

  --System-Success: #18ac00;
  --System-Info: #109aff;
  --System-Error: #f8383d;
  --System-Warning: #ffb800;

  /* 최소,최대사이즈 */
  --moMin: 20rem;
  --moFooterMin: 25.714285714285714rem;
  --pcMin: 73.14285714285714rem;
  --pcCemiNormal: 62.857142857142857rem;
  --pcNormal: 65rem;
  --moMax: 73.07142857142857rem;
  --pcMax: 85.71428571428571rem;

  /* 4 */
  --badgeRadius: 0.4286rem;
  /* 6 */
  --formRadius: 0.4286rem;
  /* 10 */
  --boxRadius: 0.7143rem;
  /* 12 */
  --cardRadius: 0.8571rem;
  /* 20 */
  --modalRadius: 1.4286rem;
  /* 24 */
  --tagRadius: 1.714285714285714rem;
  /* 30 */
  --kvbannerRadius: 2.142857142857143rem;
  /* half */
  --circleRadius: 50%;

  --thumbRadius-10: 0.7142857142857143rem;
  --thumbRadius-15: 1.071428571428571rem;
  --thumbRadius-20: 1.428571428571429rem;

  --defaultMP: 0 2.857142857142857rem 2.857142857142857rem 2.857142857142857rem;

  /*공통 값*/
  --contentPaddingTop: 3.071428571428571rem;

  --menu-item-hover: transparent !important;

  --input-placeholder-color: var(--Neutral-500, #b7b8b9) !important;
  --mantine-color-placeholder: var(--Neutral-500, #b7b8b9) !important;
}

html {
  overflow-y: auto;
  overflow-x: auto;
  width: 100%;
}

html,
body {
  position: relative;
  height: 100%;
  font-family: "s-core-dream-regular", Sans-serif;
  word-break: break-all;
  color: var(--Neutral-900, #111);
  background-color: #fff;
  font-size: 16px;
}

/* body.modal-open {
  &::-webkit-scrollbar {
    visibility: hidden;
  }
} */

body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
table,
th,
td,
form,
fieldset,
legend,
input,
textarea,
button,
figure,
figcaption {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

img {
  border: 0;
}

ul,
ol {
  list-style: none;
}

fieldset {
  border: none;
}

a {
  color: inherit !important;
  text-decoration: none !important;
}

a:hover,
a:active {
  text-decoration: none;
}

em {
  font-style: normal;
  font-weight: normal;
}

strong {
  font-weight: 700;
}

textarea {
  border: 1px solid var(--Neutral-400, #cfcfd0);
  border-radius: var(--formRadius) !important;
  resize: none;
  padding: 0.8571rem 1.1428rem !important;
  color: var(--Neutral-900, #111) !important;
  font-size: var(--fs15) !important;
  font-weight: 400 !important;
  line-height: 1.7142rem !important;
  min-height: 8.5714rem !important;

  &:focus {
    border: 2px solid var(--Neutral-900, #111);
    border-radius: var(--formRadius) !important;
    background: #fff;
    box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.12);
    line-height: 1.7142rem !important;
    padding: 0.7857rem 1.0714rem !important;
  }
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  box-sizing: border-box;
}

caption {
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  overflow: hidden;
}

legend {
  position: absolute;
  border: 0;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  clip: rect(0 0 0 0);
}

button {
  cursor: pointer;
  overflow: visible;
  border: 0 none;
  font-weight: normal;
  color: var(--Neutral-900, #111);
  text-indent: 0;
  outline: none;
}

caption,
legend {
  overflow: hidden;
  position: static;
  width: 0;
  height: 0;
  line-height: 0;
  visibility: hidden;
  font-size: 0;
}

ol,
ul {
  list-style: none;
}

em,
address {
  font-style: normal;
}

img,
fieldset,
iframe {
  border: 0;
}

/* img {
    width: 100%;
    height: auto;
    vertical-align: top;
} */

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  outline: none;
}

:focus {
  outline: none;
}
:active {
  outline: none;
}

a:hover {
  text-decoration: none;
}

area {
  outline: none;
}

button {
  background-color: transparent;
  color: inherit;
  cursor: pointer;
}

button:hover {
  color: inherit;
}

input::-ms-clear,
input::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}

input input[type="date"]::-webkit-inner-spin-button {
  display: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-calendar-picker-indicator {
  display: none;
}

input[type="number"] {
  -moz-appearance: textform;
}

input[type="checkbox"]:focus {
  outline: none;
}

select::-ms-expand {
  display: none;
}

select:required:invalid {
  color: #a0a4af;
}

option {
  color: var(--fc_01, #000);
}

option[value=""][disabled] {
  display: none;
}

input[disabled]::-webkit-input-placeholder {
  /* color: var(--Neutral-400, #CFCFD0);ds
    border: 1px solid var(--Neutral-300, #E4E5E6);
    background: var(--Neutral-100, #F9F9F9); */
}

input[disabled]::placeholder {
  /* color: var(--Neutral-400, #CFCFD0);
    border: 1px solid var(--Neutral-300, #E4E5E6);
    background: var(--Neutral-100, #F9F9F9); */
}

input[disabled] {
  color: var(--Neutral-400, #cfcfd0);
  border: 1px solid var(--Neutral-300, #e4e5e6);
  background: var(--Neutral-100, #f9f9f9);
}

input[readonly] {
  color: var(--Neutral-900, #111);
  border: 1px solid var(--Neutral-300, #e4e5e6);
  background: var(--Neutral-100, #f9f9f9);
}

input[readonly] + .unit,
input[readonly] + .txt_unit {
  color: var(--Neutral-400, #cfcfd0);
}

/* Layout */
hr {
  font-size: 0;
  line-height: 0;
}

/* Heading */
h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
  color: var(--Neutral-900, #111);
  vertical-align: middle;
  word-break: keep-all;
}

.blue {
  color: var(--Secondary-700, #287eff);
}

.red {
  color: var(--System-Error, #f8383d);
}

/* Media No Print */
@media print {
  .no_print {
    display: none;
  }
  .do_print {
    display: block !important;
  }
}

.subpage_contents {
  &.mo {
    width: 100%;
    padding: 1.428571428571429rem;
  }
}

.flex_center {
  display: flex;
  justify-content: center;
}

.flex_spacebetween {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.flex_column {
  flex-direction: column;
}

.w_240 {
  width: 15rem !important;
}

.height100 {
  height: 100%;
}

.overflow_y {
  overflow-y: auto;
}

/* margin-top */
.mt08 {
  margin-top: 0.571428571428571rem;
}

.mt10 {
  margin-top: 0.7142857142857143rem;
}

.mt14 {
  margin-top: 1rem;
}

.mt15 {
  margin-top: 1.071428571428571rem;
}

.mt16 {
  margin-top: 1.142857142857143rem;
}

.mt20 {
  margin-top: 1.428571428571429rem;
}

.mt24 {
  margin-top: 1.714285714285714rem;
}

.mt28 {
  margin-top: 2rem;
}

.mt30 {
  margin-top: 2.142857142857143rem;
}

.mt32 {
  margin-top: 2.285714285714286rem;
}

.mt40 {
  margin-top: 2.857142857142857rem;
}

.mt42 {
  margin-top: 3rem;
}

.mt48 {
  margin-top: 3.428571428571429rem;
}

.mt59 {
  margin-top: 3.6875rem;
}

.mt64 {
  margin-top: 4.571428571428571rem;
}

/* margin-bottom */
.mb10 {
  margin-bottom: 0.7142857142857143rem;
}

/* margin-bottom */
.mb12 {
  margin-bottom: 0.8571428571428571rem;
}

.mb14 {
  margin-bottom: 1rem;
}

.mb15 {
  margin-bottom: 1.071428571428571rem;
}

.mb16 {
  margin-bottom: 1.142857142857143rem;
}

.mb20 {
  margin-bottom: 1.428571428571429rem;
}

.mb24 {
  margin-bottom: 1.714285714285714rem;
}

.mb28 {
  margin-bottom: 2rem;
}

.mb30 {
  margin-bottom: 2.142857142857143rem;
}

.mb32 {
  margin-bottom: 2.285714285714286rem;
}

.mb40 {
  margin-bottom: 2.857142857142857rem;
}

.mb42 {
  margin-bottom: 3rem;
}

.mb48 {
  margin-bottom: 3.428571428571429rem;
}

/* Gap */
.gap_0 {
  margin-top: 0 !important;
}

.gap_xxl {
  margin-top: 8rem !important;
}

.gap_xl {
  margin-top: 6rem !important;
}

.gap_lg {
  margin-top: 4.8rem !important;
}

.gap_lg_0 {
  margin-top: 4rem !important;
}

.gap_md {
  margin-top: 3.2rem !important;
}

.gap_sm_3 {
  margin-top: 2.8rem !important;
}

.gap_sm_2 {
  margin-top: 2.4rem !important;
}

.gap_sm {
  margin-top: 2rem !important;
}

.gap_xs_2 {
  margin-top: 1.6rem !important;
}

.gap_xs {
  margin-top: 1.2rem !important;
}

.gap_xs_1 {
  margin-top: 1rem !important;
}

.gap_xxs {
  margin-top: 0.8rem !important;
}

.gap_xxxs {
  margin-top: 0.6rem !important;
}

.gap_xxxxs {
  margin-top: 0.2rem !important;
}

.mgt_0 {
  margin-top: 0 !important;
}

.mgl_0 {
  margin-left: 0 !important;
}

.mgr_0 {
  margin-right: 0 !important;
}

.mgb_0 {
  margin-bottom: 0 !important;
}

.mgb_1 {
  margin-bottom: 1rem !important;
}

.mgb_2 {
  margin-bottom: 2rem !important;
}

.mgb_3 {
  margin-bottom: 3rem !important;
}

.mgb_4 {
  margin-bottom: 4rem !important;
}

.pdt_0 {
  padding-top: 0 !important;
}

.pdt_xs_2 {
  padding-top: 1.6rem !important;
}

.pdl_0 {
  padding-left: 0 !important;
}

.pdr_0 {
  padding-right: 0 !important;
}

.pdb_0 {
  padding-bottom: 0 !important;
}

.bdt_0 {
  border-top: 0 !important;
}

.bdl_0 {
  border-left: 0 !important;
}

.bdr_0 {
  border-right: 0 !important;
}

.bdb_0 {
  border-bottom: 0 !important;
}

.gap_xxxxs_minus {
  margin-top: -0.2rem !important;
}

.gap_xxxs_minus {
  margin-top: -0.4rem !important;
}

.gap_xxs_minus {
  margin-top: -0.8rem !important;
}

.gap_xs_minus {
  margin-top: -1.2rem !important;
}

.gap_xs_2_minus {
  margin-top: -1.6rem !important;
}

.gap_sm_minus {
  margin-top: -2rem !important;
}

.gap_sm_2_minus {
  margin-top: -2.4rem !important;
}

.gap_sm_3_minus {
  margin-top: -2.8rem !important;
}

.gap_lg_minus {
  margin-top: -4.8rem !important;
}

[class^="hgroup"] {
  display: table;
  position: relative;
  width: 100%;
}

[class^="hgroup"] > div {
  display: table-cell;
  vertical-align: middle;
}

[class^="hgroup"] > div:nth-child(2) {
  text-align: right;
}

[class^="hgroup"] .h2,
[class^="hgroup"] .h3 {
  display: inline-block;
  margin: 0;
}

[class^="hgroup"] + .acc_list {
  margin-top: 0.8rem;
}

[class^="hgroup"] > div .badge {
  margin: 3.2rem 0 1rem;
}

/******************** [SKIP] ********************/
.skip_nav a {
  position: absolute;
  display: block;
  width: 1px;
  height: 1px;
  margin-bottom: -1px;
  left: 0;
  top: 0;
  z-index: 101;
  font-weight: bold;
  color: #fff;
  text-align: center;
  overflow: hidden;
}

.skip_nav a:focus,
.skipNav a:hover,
.skipNav a:active {
  width: 100%;
  height: auto;
  padding: 5px;
  background: #333;
}

/******************** [기획전전용] ********************/
.blind_ir {
  position: absolute;
  width: 1px;
  height: 1px !important;
  padding: 0;
  margin: -1px;
  border: none;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
