@import url("common.css");
@import url("swiper.css");

@for $i from 1 through 10 {
  .Icon_#{$i} {
    background: url(../images/tab_icon_#{$i}.svg) no-repeat center / contain;
  }

  .Icon_#{$i} {
    &.on {
      background: url(../images/tab_icon_on_#{$i}.svg)
        no-repeat
        center /
        contain;
    }
  }

  .business_#{$i} {
    background: url(../images/category_icon_#{$i}.png) no-repeat top / 3.4rem;
  }

  .tip_list {
    > li {
      &:nth-child(#{$i}) {
        &::before {
          background: url(../images/tip_icon_#{$i}.png)
            no-repeat
            center /
            contain;
        }
        > a {
          flex: 1;
        }
      }
    }
  }
}

#toggle_slider {
  display: none;

  &:checked + label {
    background: var(--primary-Y);

    &::after {
      left: 2.2rem;
    }
  }
  + label {
    cursor: pointer;
    position: relative;
    width: 5rem;
    height: 3rem;
    border-radius: 25px;
    text-indent: -9999em;
    background: var(--gray999);
    transition: 0.4s ease-in-out;

    &::after {
      content: "";
      position: absolute;
      top: 0.2rem;
      left: 0.2rem;
      height: 2.6rem;
      width: 2.6rem;
      border-radius: 50%;
      background: #fff;
      transition: 0.4s ease-in-out;
    }
  }
}

.capsule {
  padding: 5px;
  > button {
    padding: 0 1rem;
    font-size: 1.2rem;
    color: var(--text-2);
    border: 1px solid var(--line);
    border-radius: 9999px;
    line-height: 3rem;
    background: var(--white);

    &.on {
      color: var(--white);
      border: 1px solid var(--primary-Y);
      background: var(--primary-Y);
    }

    + button {
      margin-left: 0.5rem;
    }
  }
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 4.4rem;

  > p {
    font-size: 2rem;
    font-weight: 600;
    // color: var(--text-1);
  }
  > span {
    // font-size: 1.4rem;
    font-weight: 600;
    color: var(--text-3);
    &.arrow {
      width: 2.4rem;
      height: 2.4rem;
      font-size: 0;
      color: transparent;
      background: url(../images/icon_arrow.svg) no-repeat center / contain;
    }
  }
}

.bar {
  margin: 0 -1.6rem;
  height: 0.8rem;
  background: var(--bg-color-2);
}

.splash_screen {
  position: static;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  background: var(--primary-Y);

  .splash_logo {
    margin-bottom: 5.7rem;
    width: 23.3rem;
    height: 10.8rem;
    background: url(../images/logo_visual.svg) no-repeat center / contain;
    -webkit-animation: bounce-in-left 2s both;
    animation: bounce-in-left 2s both;
  }

  .title_box {
    width: 36rem;
    padding-right: 2.4rem;
    text-align: right;

    > p {
      font-size: 2.4rem;
      font-weight: 600;
      color: var(--white);
      -webkit-animation: slide-in-right 2s ease-in both;
      animation: slide-in-right 2s ease-in both;

      &:nth-of-type(2) {
        -webkit-animation: slide-in-right 2s ease-in 1s both;
        animation: slide-in-right 2s ease-in 400ms both;
      }
    }
  }
}

//*** 지도아이콘 ***//
.currentLocation {
  display: block;
  width: 1.6rem;
  height: 1.6rem;
  background: url(../images/icon_current_location.svg) no-repeat center /
    contain;
  filter: drop-shadow(0 0 0.8rem rgba(0 0 0 / 29%));
}

.pointLocation {
  display: flex;
  align-items: center;
  > p {
    display: flex;
    align-items: center;
    // font-size: 1.4rem;
    font-weight: 600;
    color: var(--black);
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    &::before {
      content: "";
      width: 3.2rem;
      height: 2.6rem;
    }
    &.food {
      &::before {
        background: url(../images/icon_location_food.png) no-repeat center /
          contain;
      }
    }
  }
}

/* 뒤로가기 */
.back {
  > a {
    display: block;
    font-size: 0;
    color: transparent;
    width: 4.8rem;
    height: 4.8rem;
    background: url(../images/h_back.svg) no-repeat center / contain;
  }
}

/* .ellipsis */
.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
}

/* input */
textarea,
input {
  appearance: none;
  border: none;
  background: transparent;
}

.textArea_wrap {
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
  height: 10rem;
  border: 1px solid var(--line);
  border-radius: 1.2rem;
  &:focus-within {
    border: 1px solid var(--text-4);
  }
  > textarea {
    width: 100%;
    &:focus {
      border: none;
      box-shadow: none;
    }
    &::placeholder {
      color: var(--text-4);
    }
  }
}

.input_wrap {
  display: flex;
  align-items: center;
  height: 4rem;
  font-size: 1.6rem;
  border-radius: 1.2rem;

  > input[type="text"] {
    padding: 0 1rem;
    width: 100%;
    &::placeholder {
      color: var(--text-4);
    }
  }

  &.search {
    margin: 0.8rem -0.8rem;
    background: var(--bg-color-2);
    &::before {
      content: "";
      margin-left: 0.8rem;
      width: 2.4rem;
      height: 2.4rem;
      background: url(../images/icon_search.svg) no-repeat center / contain;
    }
    > input[type="text"] {
      width: calc(100% - 4.8rem);
    }
  }

  &.map {
    border: 1px solid red;
  }

  &.benefit_input {
    flex-direction: row;
    border: 1px solid var(--line);
    border-radius: 0.8rem;
    &:focus-within {
      border: 1px solid var(--text-4);
    }

    + label {
      margin-top: 1.6rem;
    }
  }

  &.detail_input {
    @extend .benefit_input;
    font-size: 1.4rem;
    + label {
      margin-top: 1.4rem;
    }
    + .detail_input {
      margin-top: 1rem;
    }
  }
}

/* select-box */
.select_wrap {
  position: relative;
  display: flex;
  align-items: center;
  height: 4rem;
  // font-size: 1.4rem;
  color: var(--text-1);
  border: 1px solid var(--line);
  border-radius: 1.2rem;
  background-color: #ffffff;
  cursor: pointer;
  &:focus-within {
    border: 1px solid var(--text-4);
  }
  &.selected {
    .type_selectText {
      &::after {
        content: "";
        transform: rotate(180deg);
      }
    }
  }
  + label {
    margin-top: 1.4rem;
  }

  .type_selectText {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
    color: var(--text-1);
    &::after {
      content: "";
      position: absolute;
      right: 1rem;
      width: 2.4rem;
      height: 2.4rem;
      background: url(../images/icon_select.svg) no-repeat center / contain;
    }
    &.placeholder {
      color: var(--text-3);
      background-color: transparent;
    }
  }

  .type_selectList {
    position: absolute;
    top: 4.2rem;
    padding: 1rem;
    width: 100%;
    text-align: left;
    border: 1px solid var(--line);
    background-color: #ffffff;
    z-index: 10;

    .type_selectOption {
      height: 4rem;
      line-height: 4rem;
      padding-left: 1.5rem;
      cursor: pointer;
      &:hover {
        color: #ffffff;
        background-color: var(--primary-Y);
      }
    }
  }
}

/* button */
.button {
  width: 100%;
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--white);
  border-radius: 1.2rem;
  line-height: 5rem;
  background: var(--primary-Y);
  letter-spacing: -1;
}

//////////////////////////// 본문 ////////////////////////////
.wrap {
  position: relative;
  display: block;
  // flex-direction: column;
  // flex: 1 1 auto;
  width: 100%;
  height: 100%;
  overflow-y: auto;

  header {
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1280px;
    height: 4.8rem;
    margin: 0 auto;
    border-bottom: 1px solid var(--line);
    background: var(--white);
    z-index: 10;

    .logo {
      > a {
        display: block;
        font-size: 0;
        color: transparent;
        width: 4.8rem;
        height: 4.8rem;
        background: url(../images/h_logo.svg) no-repeat center / contain;
      }
    }

    .page_title {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      font-size: 1.6rem;
      font-weight: 600;
      color: var(--text-2);
    }

    .btn_sideMenu {
      position: absolute;
      right: 0;
      width: 4.8rem;
      height: 4.8rem;
      font-size: 0;
      color: transparent;
      background: url(../images/h_menu.svg) no-repeat center / contain;
    }

    .btn_setting {
      @extend .btn_sideMenu;
      background: url(../images/icon_setting.svg) no-repeat center / 2.4rem;
    }

    .btn_option {
      @extend .btn_sideMenu;
      background: url(../images/h_option.svg) no-repeat center / contain;
    }

    &.profile {
      height: 6.8rem;
      border-bottom: none;
      .avatar {
        display: flex;
        align-items: center;
        padding-left: 1.6rem;

        > img {
          margin-right: 1.2rem;
          width: 3.6rem;
          height: 3.6rem;
          border: 1px solid var(--line);
          border-radius: 1.2rem;
        }
        > p {
          font-weight: 600;
          font-size: 1.6rem;
          color: var(--text-2);
        }
      }
      + main {
        padding-top: 6.8rem;
      }
    }
  }

  .sideMenu {
    position: fixed;
    top: 0;
    right: -100%;
    bottom: 0;
    padding: 0 1.3rem;
    width: 340px;
    background: var(--white);
    z-index: 1000;

    &.out {
      animation: slid_out forwards 1s;
    }

    &.open {
      animation: slid_in forwards 1s;
    }

    .sideTitle {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1rem;

      > p {
        padding: 1rem 0 0.4rem;
        font-size: 2rem;
        font-weight: 600;
        // color: var(--text-1);

        + .side_close {
          margin-top: 0.5rem;
          width: 2.4rem;
          height: 2.4rem;
          font-size: 0;
          color: transparent;
          background: url(../images/icon_arrow.svg) no-repeat center / contain;
        }
      }
    }

    .apt_select {
      margin: 1.6rem -1.3rem 0 0;
      padding: 1.3rem 1.3rem 1.3rem 0;
      height: calc(100% - 13rem);
      overflow-y: auto;
      > li {
        display: flex;
        + li {
          margin-top: 2rem;
        }
        &.on {
          border-radius: 1.2rem 0 0 1.2rem;
          background: linear-gradient(
            90deg,
            rgba(242, 242, 242, 1) 0%,
            rgba(242, 242, 242, 1) 97%,
            rgba(255, 151, 0, 1) 97%,
            rgba(255, 151, 0, 1) 100%
          );
          .inner_txt {
            > li {
              &:nth-of-type(1),
              &:nth-of-type(2) {
                color: var(--primary-Y);
              }
            }
          }
        }

        .thumb_img2 {
          margin-right: 1.3rem;
          width: 8.2rem;
          height: 8.2rem;
          border-radius: 1.2rem;
        }
        .inner_txt {
          > li {
            + li:not(:nth-of-type(4)) {
              margin-top: 0.4rem;
            }
            &:nth-of-type(1) {
              // font-size: 1.4rem;
              font-weight: 600;
              // color: var(--text-1);
              line-height: 1.8rem;
            }
            &:nth-of-type(2) {
              padding-bottom: 0.6rem;
              font-size: 1.1rem;
              font-weight: 600;
              color: var(--text-2);
              line-height: 1.8rem;
            }
            &:nth-of-type(3),
            &:nth-of-type(4) {
              font-size: 0.9rem;
              color: var(--text-3);
            }
          }
        }
      }
    }
  }

  .gnb_bg {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: none;
    width: 100%;
    background: rgba($color: #000000, $alpha: 0.4);
    z-index: 999;
  }

  main {
    padding: 4.8rem 0 5.6rem;

    .container {
      max-width: 1280px;
      margin: 0 auto;
      padding: 0 1.6rem 2rem;

      &.category_page {
        margin-top: -1.7rem;
        > section {
          .category {
            margin: initial;
            margin-top: 2.8rem;
            margin-left: 3rem;
            > li {
              margin-top: initial !important;
              margin-bottom: 3rem;
              width: 50%;
              > button {
                padding: inherit;
                padding-left: 6.5rem;
                height: 4rem;
                font-size: 1.8rem;
                font-weight: 500;
                color: var(--black);
                text-align: left;
                background-size: 4.5rem;
                background-position: left;
              }
              &:nth-of-type(8) {
                > button {
                  background-size: 3.8rem;
                }
              }
              &:nth-of-type(9) {
                > button {
                  background-size: 5.5rem;
                }
              }
              &:nth-of-type(10) {
                > button {
                  background-size: 5rem;
                }
              }
            }
          }
          + section {
            margin-top: 6.6rem;
          }
        }
      }

      &.map_page {
        margin-top: -4.8rem;
        padding-bottom: 0;
        overflow: hidden;

        > section {
          position: relative;
        }
      }

      section {
        .visual_banner {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0 -1.6rem;
          // width: 39rem;
          // height: 20.4rem;
          background-color: #d9d9d9;
          overflow: hidden;

          > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
          }

          .banner_text {
            left: 2rem;
            padding: 0;
            font-weight: 600;
            text-align: initial;

            h5 {
              font-size: 2.2rem;
              font-weight: 600;
              color: var(--white);
              line-height: initial;
            }

            p {
              font-size: 1.6rem;
              line-height: 2;

              + span {
                font-size: 1.2rem;
              }
            }
          }
        }

        .bar_banner {
          display: flex;
          justify-content: space-between;
          margin: 0 -1.6rem;
          padding: 1.4rem 1.6rem;
          color: var(--white);
          background: var(--black);

          &::after {
            content: "";
            display: inline-block;
            width: 2.4rem;
            height: 2.4rem;
            background: url(../images/icon_chevron_right.svg) no-repeat center /
              contain;
          }
        }

        .category {
          display: flex;
          flex-wrap: wrap;
          margin: 1.6rem -1rem;
          // gap: 1rem;

          > li {
            width: 20%;

            > button {
              padding-top: 4rem;
              width: 100%;
            }

            &:nth-child(n + 6) {
              margin-top: 2rem;
            }
          }
        }

        &.item_list {
          padding-top: 1.6rem;

          .item {
            + .item {
              padding-top: 1.6rem;
            }

            .capsule {
              margin-bottom: 1.6rem;
            }

            .tip_list {
              margin: 1.6rem 0.5rem 0;
              > li {
                display: flex;
                align-items: center;
                height: 4rem;
                border-bottom: 1px solid var(--line1);
                &:nth-child(-n + 5) {
                  &::before {
                    content: "";
                    display: inline-block;
                    margin-right: 1.5rem;
                    width: 3.4rem;
                    height: 3rem;
                  }
                }
              }
            }
            .ranking_list {
              padding: 1.6rem 0;
              border-bottom: 1px solid var(--line2);
              > li {
                display: flex;
                justify-content: space-between;

                + li {
                  margin-top: 1.6rem;
                }

                > div {
                  display: flex;
                  align-items: center;

                  > .thumb_img {
                    margin-right: 1.6rem;
                    width: 7.2rem;
                    height: 7.2rem;
                    border-radius: 1.2rem;
                  }

                  .inner_txt {
                    display: flex;
                    flex-direction: column;

                    > p {
                      // font-size: 1.4rem;
                    }

                    > small {
                      font-size: 1.2rem;
                      color: var(--text-3);
                    }

                    > span {
                      font-size: 1.2rem;
                      font-weight: 600;
                    }
                  }
                }
                > .average {
                  > span {
                    display: block;
                    width: 3.8rem;
                    height: 3.6rem;
                    // font-size: 1.4rem;
                    font-weight: 600;
                    color: var(--white);
                    text-align: center;
                    border-radius: 0.8rem;
                    line-height: 3.4rem;
                    background: var(--primary-Y);
                  }
                }
              }
            }
          }
        }

        .detail_view {
          .img_container {
            margin: 0 -1.6rem;

            .thumb_img3 {
              width: 100%;
              max-width: 102.4rem;
              min-width: 39rem;
              // height: 19.4rem;
            }
          }

          > p {
            display: flex;
            align-items: center;
            padding-top: 1.6rem;
            font-size: 2.4rem;
            font-weight: 600;

            > small {
              margin-left: 0.5rem;
              font-size: 1.6rem;
              font-weight: 600;
              color: var(--text-3);
            }
            + span {
              padding-top: 0.4rem;
              font-size: 1.2rem;
              font-weight: 600;
              color: var(--text-2);

              > em {
                display: inline-flex;
                align-items: center;
                margin-left: 0.5rem;
                font-weight: 600;

                &::before {
                  content: "";
                  display: inline-block;
                  margin-right: 0.5rem;
                  width: 1.2rem;
                  height: 1.2rem;
                  background: url(../images/icon_rating.svg) no-repeat center /
                    contain;
                }
              }
            }
          }

          .introduce {
            // font-size: 1.4rem;
            font-weight: 500;
          }
        }

        .user_act {
          display: flex;
          margin: 1.6rem -1.6rem 0;
          border-top: 1px solid var(--line);

          > li {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 1.6rem 0;
            width: 33.3333%;
            height: 4.9rem;
            // font-size: 1.4rem;
            font-weight: 600;
            color: var(--text-2);

            &::before {
              content: "";
              // display: block;
              width: 2.4rem;
              height: 2.4rem;
              background: url(../images/icon_phone.svg) no-repeat center /
                contain;
            }

            &:nth-of-type(2) {
              &::before {
                background: url(../images/icon_star.svg) no-repeat center /
                  contain;
              }
            }

            &:nth-of-type(3) {
              &::before {
                background: url(../images/icon_share.svg) no-repeat center /
                  contain;
              }
            }

            + li {
              border-left: 1px solid var(--line);
            }
          }
        }

        .place_info {
          > ul {
            padding: 1.6rem 0;
            li {
              display: flex;
              align-items: flex-start;
              font-weight: 600;
              line-height: 2.4rem;
              &::before {
                content: "";
                margin-right: 1.6rem;
                width: 2.4rem;
                height: 2.4rem;
              }
              &:nth-child(1) {
                &::before {
                  background: url(../images/icon_location.svg) no-repeat center /
                    contain;
                }
                > div {
                  width: calc(100% - 4rem);
                  > small {
                    display: block;
                    font-size: 1.4rem;
                    font-weight: 400;
                  }
                }
              }
              &:nth-child(2) {
                &::before {
                  background: url(../images/icon_clock.svg) no-repeat center /
                    contain;
                }
              }
              &:nth-child(3) {
                &::before {
                  background: url(../images/icon_phone.svg) no-repeat center /
                    contain;
                }
              }
              &:nth-child(4) {
                &::before {
                  background: url(../images/icon_link.svg) no-repeat center /
                    contain;
                }
              }
              + li {
                margin-top: 0.8rem;
              }
            }
          }

          + .button {
            margin-bottom: 3.3rem;
          }
        }

        .benefit {
          form {
            padding: 1.6rem 0;

            label {
              padding-bottom: 0.5rem;
              font-size: 1.3rem;
              color: var(--text-2);
            }
          }
        }

        .store_detail {
          form {
            padding: 1.6rem 0;

            &:nth-of-type(2) {
              .detail_input {
                + label {
                  margin-top: 2.6rem;
                }
              }
            }

            &:nth-last-of-type(1) {
              padding-bottom: 2.1rem;
            }

            + form {
              margin-top: 0.9rem;
            }

            label {
              display: flex;
              justify-content: space-between;
              padding-bottom: 0.5rem;
              // font-size: 1.4rem;
              font-weight: 500;
              color: var(--text-2);

              span {
                > em {
                  color: var(--text-violet);
                }
              }
            }
            .button {
              display: flex;
              align-items: center;
              padding: 0 1rem;
              width: initial;
              height: 2.9rem;
              font-size: 1.4rem;
              font-weight: 500;
              color: var(--text-1);
              border: 1px solid var(--text-1);
              border-radius: 0.2rem;
              line-height: 2.9rem;
              background: #fff;

              &::before {
                content: "";
                margin-right: 0.5rem;
                width: 1.5rem;
                height: 1.8rem;
                background: url(../images/icon_aiTwinkle.png) no-repeat center /
                  contain;
              }
            }

            .btnAdd {
              display: flex;
              justify-content: space-between;
              align-items: center;

              .detail_input {
                width: calc(100% - 6.6rem);

                + .btnArea {
                  .plus {
                    width: 3rem;
                    height: 3rem;
                    font-size: 0;
                    color: transparent;
                    background: url(../images/btn_plus.svg) no-repeat center /
                      contain;
                  }

                  .minus {
                    @extend .plus;
                    background: url(../images/btn_minus.svg) no-repeat center /
                      contain;
                  }
                }
              }
              + label {
                margin-top: 1.4rem;
              }
            }
          }
        }

        .login_induce {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 1.6rem 0;
          > p {
            padding-bottom: 1.6rem;
            font-size: 1.6rem;
            font-weight: 600;
            color: var(--text-2);

            + .button {
              display: flex;
              align-items: center;
              justify-content: center;
              padding: 0 0.8rem;
              width: initial;
              // font-size: 1.4rem;
              color: var(--white);
              line-height: 3.6rem;
              border-radius: 0.8rem;
              background: var(--primary-Y);

              &::before {
                content: "";
                margin-right: 0.4rem;
                width: 2rem;
                height: 2rem;
                background: url(../images/icon_plus_white.svg) no-repeat center /
                  contain;
              }
            }
          }
        }

        .my_list {
          > li {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 4.8rem;
            font-size: 1.6rem;
            &::after {
              content: "";
              width: 2.4rem;
              height: 2.4rem;
              background: url(../images/icon_arrow.svg) no-repeat center /
                contain;
            }
            &.myAPT {
              &::after {
                display: none;
              }
            }
          }

          + .title {
            margin-top: 2.4rem;
          }
        }

        .toggle_bar {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin: 0 -1.6rem;
          padding: 0 1.6rem;
          height: 4.8rem;
          background: var(--bg-color-3);

          > p {
            font-size: 1.6rem;
          }

          + .button {
            margin: 6.2rem 0;
          }

          + .detail_view {
            > p {
              padding: 2.6rem 0;
            }
          }
        }

        .login_title_box {
          margin: 3.7rem 0 4.1rem 3rem;
          > .logo {
            width: 16.3rem;
            height: 7.2rem;
            background: url(../images/logo_login.svg) no-repeat center / contain;
          }
          > p {
            margin-left: 1rem;
            font-size: 1.8rem;
            font-weight: 600;
            color: var(--line1);
          }
        }

        .social_area {
          > .button {
            position: relative;
            &::before {
              content: "";
              position: absolute;
              top: 50%;
              left: 1.6rem;
              transform: translateY(-50%);
              width: 2.4rem;
              height: 2.4rem;
            }

            + .button {
              margin-top: 1.6rem;
            }
            &.naver {
              background: var(--naver--color);
              &::before {
                background: url(../images/social_naver.png) no-repeat center /
                  contain;
              }
            }
            &.kakao {
              color: var(--text-1);
              background: var(--kakao--color);
              &::before {
                background: url(../images/social_kakao.png) no-repeat center /
                  contain;
              }
            }
            &.google {
              color: var(--text-1);
              border: 1px solid var(--line);
              background: var(--google--color);
              &::before {
                background: url(../images/social_google.png) no-repeat center /
                  contain;
              }
            }
          }
        }

        .login_area {
          .bar_and {
            position: relative;
            margin: 2.4rem 0;
            padding-top: 0.9rem;
            height: 1.8rem;
            &::after {
              content: "";
              display: block;
              width: 100%;
              border-top: 1px solid rgba($color: #bbc5cc, $alpha: 0.4);
            }
            > span {
              position: absolute;
              top: 0rem;
              left: 50%;
              transform: translateX(-50%);
              width: 7rem;
              height: 1.8rem;
              color: var(--text-4);
              text-align: center;
              background: var(--white);
              z-index: 9;
            }
          }
          .btnBox_col {
            display: flex;

            > .button {
              + .button {
                margin-left: 0.8rem;
              }
              &.btn_email {
                color: var(--text-tab1);
                background: var(--text-tab2);
              }
            }
          }
          > p {
            margin: 2.4rem auto 0;
            width: 26.6rem;
            font-size: 1.2rem;
            color: var(--text-3);
            text-align: center;
            letter-spacing: -0.5;
          }
        }

        .map_search {
          display: flex;
          .back {
            margin-left: -1.2rem;
          }
          .input_wrap {
            &.search {
              flex: 1;
              margin-left: 0;
            }
          }
        }

        .location_capsule {
          position: absolute;
          top: 5.6rem;
          left: -1.6rem;
          right: 0;
          display: flex;
          white-space: nowrap;
          margin-right: -1.6rem;
          padding: 1.6rem;
          overflow-x: auto;
          > li {
            display: flex;
            align-items: center;
            padding: 0.2rem 1.2rem 0;
            height: 3.6rem;
            // font-size: 1.4rem;
            font-weight: 600;
            color: var(--text-2);
            border: 1px solid var(--line);
            border-radius: 9999px;
            background: var(--white);
            + li {
              margin-left: 0.8rem;
            }
            &:nth-last-of-type(1) {
              margin-right: 0.8rem;
            }
            &::before {
              content: "";
              margin-top: -0.4rem;
              margin-right: 0.4rem;
              width: 2rem;
              height: 2rem;
              background: url(../images/icon_location.svg) no-repeat center /
                contain;
            }
          }
        }

        .floating_btn {
          position: absolute;
          bottom: 1.6rem;
          width: 4rem;
          height: 4rem;
          background: url(../images/icon_floating_btn.svg) no-repeat center /
            contain;
          filter: drop-shadow(0 0.8rem 2.4rem rgba(0 0 0 / 10%));
        }

        .mapBG {
          white-space: nowrap;
          margin: 0 -1.6rem;
          height: calc(100% - 5.6rem - 5.6rem);
          background: url(../images/ex_img5.png) no-repeat center / cover;
        }
      }
    }
  }

  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid var(--line);
    background: #fff;
    z-index: 99;

    .tab_menu {
      display: flex;
      width: 100%;
      height: 5.5rem;

      > li {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: calc(100% / 4);

        .menu {
          margin: 0.5rem 0;
          // width: 2.4rem;
          height: 2.4rem;
          text-align: center;

          span {
            display: block;
            padding-top: 3rem;
            margin-bottom: 0.3rem;
            font-size: 1rem;
            font-weight: 600;
            color: var(--text-tab2);
          }

          &.on {
            span {
              color: var(--text-tab1);
            }
          }
        }
      }
    }
  }
}

///////////////////////// 애니메이션 /////////////////////////
@-webkit-keyframes slid_in {
  0% {
    right: -100%;
  }
  100% {
    right: 0;
  }
}
@keyframes slid_in {
  0% {
    right: -100%;
  }
  100% {
    right: 0;
  }
}
@-webkit-keyframes slid_out {
  0% {
    right: 0;
  }
  100% {
    right: -100%;
  }
}
@keyframes slid_out {
  0% {
    right: 0;
  }
  100% {
    right: -100%;
  }
}

/**
 * ----------------------------------------
 * animation bounce-in-left
 * ----------------------------------------
 */
@-webkit-keyframes bounce-in-left {
  0% {
    -webkit-transform: translateX(-600px);
    transform: translateX(-600px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateX(-68px);
    transform: translateX(-68px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateX(-28px);
    transform: translateX(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-left {
  0% {
    -webkit-transform: translateX(-600px);
    transform: translateX(-600px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateX(-68px);
    transform: translateX(-68px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateX(-28px);
    transform: translateX(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

/**
 * ----------------------------------------
 * animation slide-in-right
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
