@import url("common.css");
.Icon_1 {
  background: url(../images/tab_icon_1.svg) no-repeat center/contain;
}

.Icon_1.on {
  background: url(../images/tab_icon_on_1.svg) no-repeat center/contain;
}

.Icon_2 {
  background: url(../images/tab_icon_2.svg) no-repeat center/contain;
}

.Icon_2.on {
  background: url(../images/tab_icon_on_2.svg) no-repeat center/contain;
}

.Icon_3 {
  background: url(../images/tab_icon_3.svg) no-repeat center/contain;
}

.Icon_3.on {
  background: url(../images/tab_icon_on_3.svg) no-repeat center/contain;
}

.Icon_4 {
  background: url(../images/tab_icon_4.svg) no-repeat center/contain;
}

.Icon_4.on {
  background: url(../images/tab_icon_on_4.svg) no-repeat center/contain;
}

header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1280px;
  height: 4.8rem;
  margin: 0 auto;
  background: var(--white);
  z-index: 10;
}
header .logo > a {
  display: block;
  font-size: 0;
  color: transparent;
  width: 4.8rem;
  height: 4.8rem;
  background: url(../images/h_logo.svg) no-repeat center/contain;
}
header .page_title {
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--text-2);
}
header .top_menu {
  width: 4.8rem;
  height: 4.8rem;
  font-size: 0;
  color: transparent;
  background: url(../images/h_menu.svg) no-repeat center/contain;
}

.wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  width: 100%;
  height: 100%;
}
.wrap main {
  margin-top: 4.8rem;
}
.wrap main .container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1.6rem;
}
.wrap main .container section .visual_banner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 -1.6rem;
  height: 20.4rem;
  background-color: #d9d9d9;
  overflow: hidden;
}
.wrap main .container section .visual_banner > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
}
.wrap main .container section .visual_banner .banner_text {
  left: 2rem;
  padding: 0;
  font-weight: 600;
  text-align: initial;
}
.wrap main .container section .visual_banner .banner_text h5 {
  font-size: 2.2rem;
  font-weight: 600;
  color: var(--white);
  line-height: initial;
  letter-spacing: -1;
}
.wrap main .container section .visual_banner .banner_text p {
  font-size: 1.6rem;
  line-height: 2;
}
.wrap main .container section .visual_banner .banner_text p + span {
  font-size: 1.2rem;
}
.wrap main .container section .bar_banner {
  display: flex;
  margin: 0 -1.6rem;
  padding: 1.4rem 1.6rem;
  color: var(--white);
  background: var(--black);
}
.wrap main .container section .bar_banner::after {
  content: "";
  display: inline-block;
  width: 2.4rem;
  height: 2.4rem;
  background: url(../images/icon_chevron_right.svg) no-repeat center/contain;
}
.wrap main .container .branch > .menu {
  margin-top: 3.625rem;
}
.wrap main .container .branch > .menu ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrap main .container .branch > .menu ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.wrap main .container .branch > .menu ul li a {
  width: 8.3125rem;
  height: 3.6875rem;
  display: block;
  font-size: 2rem;
  font-weight: 400;
  font-family: "GoryeongStrawberry";
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap main .container .branch > .menu ul li a.active {
  background: var(--primary-c-y);
  color: #fff;
}
.wrap main .container .branch > .menu ul li:nth-child(1) {
  border-radius: 10px 0px 0px 10px;
  border: 1px solid rgba(204, 204, 204, 0.8);
}
.wrap main .container .branch > .menu ul li:nth-child(2) {
  border-radius: 0px 10px 10px 0px;
  border: 1px solid rgba(204, 204, 204, 0.8);
}
.wrap main .container .branch .contents > .menu {
  margin-top: 2.6875rem;
}
.wrap main .container .branch .contents > .menu ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.9375rem;
}
.wrap main .container .branch .contents > .menu ul li {
  border-radius: 999px;
  border: 1px solid #ccc;
  overflow: hidden;
}
.wrap main .container .branch .contents > .menu ul li a {
  font-size: 1.25rem;
  font-weight: 200;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.8125rem;
  padding: 0 1.875rem;
}
.wrap main .container .branch .contents > .menu ul li a.active {
  color: #fff;
  background-color: var(--primary-c-y);
}
.wrap main .container .branch .contents .prd {
  margin-top: 1.875rem;
}
.wrap main .container .branch .contents .prd ul {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: space-between;
}
.wrap main .container .branch .contents .prd ul li {
  margin-top: 3.125rem;
}
.wrap main .container .branch .contents .prd ul li > a {
  position: relative;
  border-radius: 0.625rem;
  overflow: hidden;
  display: block;
  width: 18.75rem;
  height: 18.75rem;
}
.wrap main .container .branch .contents .prd ul li > a:hover > img {
  transform: scale(1.2) translate3d(-50%, -50%, 0);
  top: 50%;
  left: 50%;
  transition: all 0.3s;
}
.wrap main .container .branch .contents .prd ul li > a > img {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(1) translate3d(-50%, -50%, 0);
  transform-origin: top left;
  transition: all 0.3s;
  width: 100%;
  height: 100%;
}
.wrap main .container .branch .contents .prd ul li > a .texts {
  position: absolute;
  bottom: 0.625rem;
  left: 0;
  right: 0;
  padding: 0 1.375rem;
  font-size: 1.25rem;
}
.wrap main .container .branch .contents .prd ul li > a .texts > div {
  width: 100%;
  height: 3.5625rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 999px;
  background: var(--primary-c-y);
}
.wrap main .container .branch .contents .prd ul li .items {
  font-size: 0.9375rem;
  margin-top: 0.875rem;
}
.wrap main .container .branch .contents .prd ul li .items .grade {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
}
.wrap main .container .branch .contents .prd ul li .items .grade > i {
  width: 1.375rem;
  height: 1.375rem;
  display: block;
  margin-right: 0.5rem;
  background: url("../images/icon_crown.svg") no-repeat center/contain;
}
.wrap main .container .branch .contents .prd ul li .items .price {
  margin-top: 0.5rem;
}
.wrap main .container .sub_wrap {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.wrap main .container .sub_wrap .service_wrap {
  background: #f1f1f1;
  border-radius: 0.625rem;
  padding: 3rem 1.5rem;
  margin-top: 3rem;
  flex: 1 1 auto;
}
.wrap main .container .sub_wrap .service_wrap h2 {
  font-size: 2.5rem;
  font-weight: bold;
  font-family: "s-core-dream-bold";
}
.wrap main .container .sub_wrap .service_wrap .contents {
  margin-top: 1.25rem;
}
.wrap main .container .sub_wrap .service_wrap .contents h3 {
  font-size: 1.5rem;
  margin-bottom: 1.125rem;
}
.wrap main .container .sub_wrap .service_wrap .contents h3 + .content {
  margin-bottom: 5rem;
}
.wrap main .container .sub_wrap .service_wrap .contents .content {
  font-size: 1.125rem;
  line-height: 2;
}
.wrap main .container .sub_wrap .service_wrap .contents .content.pre {
  white-space: pre-line;
}
.wrap main .container .sub_wrap aside {
  margin-top: 2.5rem;
}
.wrap main .container .sub_wrap aside .content {
  position: sticky;
  top: 100px;
  border-radius: 0.625rem;
  border: 1px solid #e3e3e3;
  padding: 1.5rem;
  background: #fff;
}
.wrap main .container .sub_wrap aside .content .thumbnail {
  width: 18.75rem;
  height: 18.75rem;
  border-radius: 0.625rem;
  overflow: hidden;
}
.wrap main .container .sub_wrap aside .content .thumbnail img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.wrap main .container .sub_wrap aside .content .desc {
  margin-top: 0.5rem;
  margin-bottom: 1.875rem;
  max-width: 18.75rem;
}
.wrap main .container .sub_wrap aside .content .btn_subs {
  border-radius: 999px;
  width: 18.75rem;
  height: 4.625rem;
  padding: 0 2.5rem;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary-c-y);
}
.wrap main .container .sub_wrap aside .content .btn_subs + .btn_subs {
  margin-top: 0.5rem;
}
.wrap main .container .sub_wrap aside .content small {
  font-size: 1rem;
  margin-top: 1rem;
  display: block;
  max-width: 18.75rem;
}
.wrap footer {
  border-top: 1px solid var(--line);
}
.wrap footer .tab_menu {
  display: flex;
  width: 100%;
  height: 8.3rem;
}
.wrap footer .tab_menu > li {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
}
.wrap footer .tab_menu > li .menu {
  margin: 0.5rem 0;
  width: 2.4rem;
  height: 2.4rem;
}
.wrap footer .tab_menu > li .menu + span {
  margin-bottom: 0.3rem;
  font-size: 1rem;
  font-weight: 600;
  color: var(--text-tab2);
}
.wrap footer .tab_menu > li .menu.on + span {
  color: var(--text-tab1);
}

global .carousel-caption {
  border: 1px solid red;
}/*# sourceMappingURL=style.css.map */