@import url("common.css");
@import url("swiper.css");

@for $i from 1 through 10 {
  .Icon_#{$i} {
    background: url(../images/tab_icon_#{$i}.svg) no-repeat center / contain;
  }

  .Icon_#{$i} {
    &.on {
      background: url(../images/tab_icon_on_#{$i}.svg)
        no-repeat
        center /
        contain;
    }
  }

  .business_#{$i} {
    background: url(../images/category_icon_#{$i}.png) no-repeat top / 3.4rem;
  }

  .tip_list {
    > li {
      &:nth-child(#{$i}) {
        &::before {
          background: url(../images/tip_icon_#{$i}.png)
            no-repeat
            center /
            contain;
        }
      }
    }
  }
}

.wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  width: 100%;
  height: 100%;

  header {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1280px;
    height: 4.8rem;
    margin: 0 auto;
    background: var(--white);
    z-index: 10;

    .logo {
      > a {
        display: block;
        font-size: 0;
        color: transparent;
        width: 4.8rem;
        height: 4.8rem;
        background: url(../images/h_logo.svg) no-repeat center / contain;
      }
    }

    .page_title {
      font-size: 1.6rem;
      font-weight: 600;
      color: var(--text-2);
    }

    .top_menu {
      width: 4.8rem;
      height: 4.8rem;
      font-size: 0;
      color: transparent;
      background: url(../images/h_menu.svg) no-repeat center / contain;
    }
  }

  main {
    padding: 4.8rem 0 8.4rem;
    border: 1px solid red;

    .container {
      max-width: 1280px;
      margin: 0 auto;
      padding: 0 1.6rem;

      section {
        .visual_banner {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0 -1.6rem;
          // width: 39rem;
          // height: 20.4rem;
          background-color: #d9d9d9;
          overflow: hidden;

          > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
          }

          .banner_text {
            left: 2rem;
            padding: 0;
            font-weight: 600;
            text-align: initial;

            h5 {
              font-size: 2.2rem;
              font-weight: 600;
              color: var(--white);
              line-height: initial;
              letter-spacing: -1;
            }

            p {
              font-size: 1.6rem;
              line-height: 2;

              + span {
                font-size: 1.2rem;
              }
            }
          }
        }

        .bar_banner {
          display: flex;
          justify-content: space-between;
          margin: 0 -1.6rem;
          padding: 1.4rem 1.6rem;
          color: var(--white);
          background: var(--black);

          &::after {
            content: "";
            display: inline-block;
            width: 2.4rem;
            height: 2.4rem;
            background: url(../images/icon_chevron_right.svg) no-repeat center /
              contain;
          }
        }

        .category {
          display: flex;
          flex-wrap: wrap;
          margin: 1.6rem -1rem;
          // gap: 1rem;

          > li {
            width: 20%;

            > button {
              padding-top: 4rem;
              width: 100%;
            }

            &:nth-child(n + 6) {
              margin-top: 2rem;
            }
          }
        }

        &.item_list {
          padding: 1.6rem 0;

          .item {
            + .item {
              padding-top: 1.6rem;
            }
            .title {
              display: flex;
              justify-content: space-between;
              line-height: 4.4rem;
              letter-spacing: -1;
              > p {
                font-size: 2rem;
                font-weight: 600;
                color: var(--text-1);
              }
              > span {
                font-size: 1.4rem;
                font-weight: 600;
                color: var(--text-3);
              }
            }
            .tip_list {
              margin: 1.6rem 0.5rem 0;
              > li {
                display: flex;
                align-items: center;
                height: 4rem;
                border-top: 1px solid var(--line1);
                &:nth-child(-n + 5) {
                  &::before {
                    content: "";
                    display: inline-block;
                    margin-right: 1.5rem;
                    width: 3.4rem;
                    height: 3rem;
                  }
                }
              }
            }
            .ranking_list {
              padding: 1.6rem 0;
              border-bottom: 1px solid var(--line2);
              > li {
                display: flex;
                justify-content: space-between;

                + li {
                  margin-top: 1.6rem;
                }

                > div {
                  display: flex;
                  align-items: center;

                  > .thum_img {
                    margin-right: 1.6rem;
                    width: 7.2rem;
                    height: 7.2rem;
                    border-radius: 1.2rem;
                  }

                  .inner_txt {
                    display: flex;
                    flex-direction: column;

                    > p {
                      font-size: 1.4rem;
                    }

                    > small {
                      font-size: 1.2rem;
                      color: var(--text-3);
                    }

                    > span {
                      font-size: 1.2rem;
                      font-weight: 600;
                    }
                  }
                }
                > .average {
                  > span {
                    display: block;
                    width: 3.8rem;
                    height: 3.6rem;
                    font-size: 1.4rem;
                    font-weight: 600;
                    color: var(--white);
                    text-align: center;
                    border-radius: 0.8rem;
                    line-height: 3.4rem;
                    background: var(--primary-Y);
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid var(--line);
    background: #fff;
    z-index: 10;
    .tab_menu {
      display: flex;
      width: 100%;
      height: 8.3rem;
      > li {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: calc(100% / 4);
        .menu {
          margin: 0.5rem 0;
          width: 2.4rem;
          height: 2.4rem;
          + span {
            margin-bottom: 0.3rem;
            font-size: 1rem;
            font-weight: 600;
            color: var(--text-tab2);
          }
          &.on {
            + span {
              color: var(--text-tab1);
            }
          }
        }
      }
    }
  }

  // footer {
  //   border-top: 1px solid #eee;
  //   display: flex;
  //   justify-content: center;
  //   margin-top: 2.5rem;
  //   background: #fff;

  //   .contents {
  //     padding-bottom: 2.5rem;
  //     display: flex;
  //     justify-content: center;
  //     max-width: 1280px;
  //     margin: 40px 0 0;
  //     flex: 1 1 auto;
  //     gap: 2.5rem;

  //     .cs_center {
  //       flex: 0 0 auto;

  //       .btn_area {
  //         display: flex;
  //         align-items: center;
  //         gap: 0.625rem;

  //         > a {
  //           width: 9.125rem;
  //           height: 2.25rem;
  //           display: flex;
  //           justify-content: center;
  //           align-items: center;
  //           background: #fff;
  //           border: 1px solid #ccc;
  //           border-radius: 0.625rem;
  //         }
  //       }
  //       .time {
  //         color: #333;
  //         font-size: 0.875rem;
  //         margin-top: 1.25rem;
  //       }
  //     }

  //     > .menu {
  //       flex: auto;
  //       ul {
  //         display: flex;
  //         align-items: flex-start;

  //         li {
  //           flex: 1 1 auto;
  //           display: flex;
  //           flex-direction: column;
  //           gap: 0.625rem;

  //           > strong {
  //             margin-bottom: 15px;
  //             font-size: 0.875rem;
  //             > a {
  //               font-size: inherit;
  //             }
  //           }

  //           a {
  //             font-size: 0.75rem;
  //           }
  //         }
  //       }
  //     }
  //   }
  // }
}

global {
  .carousel-caption {
    border: 1px solid red;
  }
}
