@import url("common.css");

/* 기본 1920 기준 pc */
/* PC */
@media screen and (max-width: 1920px) {
  /* 1920 기준 vw (1441 ~ 1920) */
}
/* 태블릿 */
@media screen and (max-width: 1440px) {
  /* 1024 기준 px (721 ~ 1440) */

  :root {
    font-size: 12px;
  }

  header {
    padding: 0 1rem;
    width: auto !important;

    + main {
      flex: 1 1 auto;
      //   overflow-y: auto;
      padding: 0 1rem;
    }
  }

  footer {
    flex: 0 0 auto;
    padding: 0 1rem;
  }

  .wrap main .container .branch .contents .prd {
    overflow-x: auto;
    white-space: nowrap;
    padding-bottom: 10px;
    margin-top: 0 !important;

    &::-webkit-scrollbar {
      //   width: 10px;
      height: 8px;
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 12px;
    }
    &::-webkit-scrollbar-track {
      background-color: #efefef;
      border-radius: 12px;
    }
    &::-webkit-scrollbar-thumb {
      background: rgba($color: #000, $alpha: 0.3);
      border-radius: 12px;
    }
  }
  .wrap main .container .branch .contents .prd ul {
    flex-flow: nowrap !important;
    gap: 1rem;
  }
  .wrap main .container .branch .contents .prd ul li > a {
    width: 8.125rem;
    height: 8.125rem;
  }
  .wrap footer .contents {
    flex-direction: column;

    .btn_area {
      justify-content: center;
    }
    .time {
      display: flex;
      justify-content: center;
      text-align: center;
    }
  }
  .wrap footer .contents > .menu ul li {
    text-align: center;
  }

  .wrap main .container .branch .contents > .menu ul li a {
    padding: 0 0.625rem !important;
  }

  .sub_wrap {
    flex-direction: column;
    gap: 1.25rem;
  }
  .wrap main .container .sub_wrap aside .content {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .wrap main .container .sub_wrap aside .content .thumbnail {
    width: 23.75rem !important;
    height: 23.75rem !important;
  }
  .wrap main .container .sub_wrap aside .content .btn_subs {
    width: 100% !important;
  }
  .wrap main .container .sub_wrap aside .content small {
    max-width: 100% !important;
    text-align: center;
  }
  .wrap main .container .sub_wrap .service_wrap .contents h3 {
    margin-bottom: 0 !important;
  }
  .wrap main .container .sub_wrap .service_wrap .contents {
    margin-top: 2.5rem !important;
  }
}

/* 모바일 */
@media screen and (max-width: 720px) {
  /* 360 기준 px (~ 720) */
}

// Ripple
.ripple {
  overflow: hidden;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: #fff;
    visibility: hidden;
    z-index: 2;
  }

  &:not(:active):before {
    animation: ripple 0.4s cubic-bezier(0, 0, 0.2, 1);
    transition: visibility 0.7s step-end;
  }

  &:active:before {
    visibility: visible;
  }
}

// Ripple animation
@keyframes ripple {
  0% {
    width: 0;
    height: 0;
    opacity: 0.5;
  }

  100% {
    width: 150px;
    height: 150px;
    opacity: 0;
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  flex: 0 0 100px;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  height: 6.25rem;
  background-color: #fff;
  background: hsl(255 100 100 / 0.15);
  /* border-block-end: 1px solid hsl(255 0 0 / 0.25); */
  inset-block-start: 0;
  backdrop-filter: blur(2rem);
  text-shadow: 0 0 0.25rem hsl(255 100 100 / 0.25);
  z-index: 10;

  .logo {
    > a {
      font-size: 0;
      color: transparent;
      width: 7.0625rem;
      height: 2rem;
      background: url("../images/logo.svg") no-repeat center/contain;
      display: block;
    }
  }

  .top_menu {
    display: flex;
    align-items: center;
    gap: 2.8125rem;

    > a {
      font-size: 1.5rem;
      height: 3.4375rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .btn_develop {
      padding: 0 1.0625rem;
      background: var(--primary-c-y);
      border-radius: 0.625rem;
      position: relative;
    }
    .btn_login {
    }
  }
}
.wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  width: 100%;
  height: 100%;

  main {
    margin-top: 6.875rem;

    .container {
      max-width: 1280px;
      margin: 0 auto;

      .visual_banner {
        height: 16.125rem;
        border-radius: 0.625rem;
        background-color: #d9d9d9;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        position: relative;

        > img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          position: absolute;
        }
      }

      .branch {
        > .menu {
          margin-top: 3.625rem;

          ul {
            display: flex;
            align-items: center;
            justify-content: center;

            li {
              display: flex;
              align-items: center;
              justify-content: center;
              overflow: hidden;

              a {
                width: 8.3125rem;
                height: 3.6875rem;
                display: block;
                font-size: 2rem;
                font-weight: 400;
                font-family: "GoryeongStrawberry";
                display: flex;
                justify-content: center;
                align-items: center;

                &.active {
                  background: var(--primary-c-y);
                  color: #fff;
                }
              }
              &:nth-child(1) {
                border-radius: 10px 0px 0px 10px;
                border: 1px solid rgba($color: #cccccc, $alpha: 0.8);
              }
              &:nth-child(2) {
                border-radius: 0px 10px 10px 0px;
                border: 1px solid rgba($color: #cccccc, $alpha: 0.8);
              }
            }
          }
        }

        .contents {
          > .menu {
            margin-top: 2.6875rem;

            ul {
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 0.9375rem;

              li {
                border-radius: 999px;

                border: 1px solid #ccc;
                overflow: hidden;
                a {
                  font-size: 1.25rem;
                  font-weight: 200;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  height: 2.8125rem;
                  padding: 0 1.875rem;

                  &.active {
                    color: #fff;
                    background-color: var(--primary-c-y);
                  }
                }
              }
            }
          }
          .prd {
            margin-top: 1.875rem;

            ul {
              display: flex;
              flex-flow: wrap;
              align-items: center;
              justify-content: space-between;

              li {
                margin-top: 3.125rem;

                > a {
                  position: relative;
                  border-radius: 0.625rem;
                  overflow: hidden;
                  display: block;
                  width: 18.75rem;
                  height: 18.75rem;

                  &:hover {
                    > img {
                      transform: scale(1.2) translate3d(-50%, -50%, 0);
                      top: 50%;
                      left: 50%;
                      transition: all 0.3s;
                    }
                  }

                  > img {
                    object-fit: cover;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: scale(1) translate3d(-50%, -50%, 0);
                    transform-origin: top left;
                    transition: all 0.3s;
                    width: 100%;
                    height: 100%;
                  }

                  .texts {
                    position: absolute;
                    bottom: 0.625rem;
                    left: 0;
                    right: 0;
                    padding: 0 1.375rem;
                    font-size: 1.25rem;

                    > div {
                      width: 100%;
                      height: 3.5625rem;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      border-radius: 999px;
                      background: var(--primary-c-y);
                    }
                  }
                }

                .items {
                  font-size: 0.9375rem;
                  margin-top: 0.875rem;

                  .title {
                  }
                  .grade {
                    display: flex;
                    align-items: center;
                    margin-top: 0.5rem;

                    > i {
                      width: 1.375rem;
                      height: 1.375rem;
                      display: block;
                      margin-right: 0.5rem;
                      background: url("../images/icon_crown.svg") no-repeat
                        center/contain;
                    }
                  }
                  .price {
                    margin-top: 0.5rem;
                  }
                }
              }
            }
          }
        }
      }

      .sub_wrap {
        display: flex;
        justify-content: space-between;
        gap: 40px;

        .service_wrap {
          background: #f1f1f1;
          border-radius: 0.625rem;
          padding: 3rem 1.5rem;
          margin-top: 3rem;
          flex: 1 1 auto;

          h2 {
            font-size: 2.5rem;
            font-weight: bold;
            font-family: "s-core-dream-bold";
          }

          .contents {
            margin-top: 1.25rem;

            h3 {
              font-size: 1.5rem;
              margin-bottom: 1.125rem;

              + .content {
                margin-bottom: 5rem;
              }
            }

            .content {
              font-size: 1.125rem;
              line-height: 2;

              &.pre {
                white-space: pre-line;
              }
            }
          }
        }

        aside {
          margin-top: 2.5rem;

          .content {
            position: sticky;
            top: 100px;
            border-radius: 0.625rem;
            border: 1px solid #e3e3e3;
            padding: 1.5rem;
            background: #fff;

            .thumbnail {
              width: 18.75rem;
              height: 18.75rem;
              border-radius: 0.625rem;
              overflow: hidden;

              img {
                width: 100%;
                object-fit: contain;
              }
            }
            .desc {
              margin-top: 0.5rem;
              margin-bottom: 1.875rem;
              max-width: 18.75rem;
            }

            .btn_subs {
              border-radius: 999px;
              width: 18.75rem;
              height: 4.625rem;
              padding: 0 2.5rem;
              font-size: 1.5rem;
              display: flex;
              justify-content: center;
              align-items: center;
              background: var(--primary-c-y);

              + .btn_subs {
                margin-top: 0.5rem;
              }
            }
            small {
              font-size: 1rem;
              margin-top: 1rem;
              display: block;
              max-width: 18.75rem;
            }
          }
        }
      }
    }
  }

  footer {
    border-top: 1px solid #eee;
    display: flex;
    justify-content: center;
    margin-top: 2.5rem;
    background: #fff;

    .contents {
      padding-bottom: 2.5rem;
      display: flex;
      justify-content: center;
      max-width: 1280px;
      margin: 40px 0 0;
      flex: 1 1 auto;
      gap: 2.5rem;

      .cs_center {
        flex: 0 0 auto;

        .btn_area {
          display: flex;
          align-items: center;
          gap: 0.625rem;

          > a {
            width: 9.125rem;
            height: 2.25rem;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #fff;
            border: 1px solid #ccc;
            border-radius: 0.625rem;
          }
        }
        .time {
          color: #333;
          font-size: 0.875rem;
          margin-top: 1.25rem;
        }
      }

      > .menu {
        flex: auto;
        ul {
          display: flex;
          align-items: flex-start;

          li {
            flex: 1 1 auto;
            display: flex;
            flex-direction: column;
            gap: 0.625rem;

            > strong {
              margin-bottom: 15px;
              font-size: 0.875rem;
              > a {
                font-size: inherit;
              }
            }

            a {
              font-size: 0.75rem;
            }
          }
        }
      }
    }
  }
}
