@import url("common.css");
@import url("swiper.css");

@for $i from 1 through 10 {
  .Icon_#{$i} {
    background: url(../images/tab_icon_#{$i}.svg) no-repeat center / contain;
  }

  .Icon_#{$i} {
    &.on {
      background: url(../images/tab_icon_on_#{$i}.svg)
        no-repeat
        center /
        contain;
    }
  }

  .business_#{$i} {
    background: url(../images/category_icon_#{$i}.png) no-repeat top / 3.4rem;
  }

  .tip_list {
    > li {
      &:nth-child(#{$i}) {
        &::before {
          background: url(../images/tip_icon_#{$i}.png)
            no-repeat
            center /
            contain;
        }
        > a {
          flex: 1;
        }
      }
    }
  }
}

.wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  width: 100%;
  height: 100%;

  header {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1280px;
    height: 4.8rem;
    margin: 0 auto;
    background: var(--white);
    z-index: 10;

    .logo {
      > a {
        display: block;
        font-size: 0;
        color: transparent;
        width: 4.8rem;
        height: 4.8rem;
        background: url(../images/h_logo.svg) no-repeat center / contain;
      }
    }

    .page_title {
      font-size: 1.6rem;
      font-weight: 600;
      color: var(--text-2);
    }

    .btn_sideMenu {
      width: 4.8rem;
      height: 4.8rem;
      font-size: 0;
      color: transparent;
      background: url(../images/h_menu.svg) no-repeat center / contain;
    }

    // 햄버거메뉴
    // .btn_sideMenu {
    //   position: relative;
    //   width: 50px;
    //   height: 44px;
    //   font-size: 0;
    //   color: transparent;
    //   z-index: 100;
    //   scale: 0.3;

    //   span {
    //     position: absolute;
    //     left: 0;
    //     width: 100%;
    //     height: 4px;
    //     background-color: black;
    //     border-radius: 4px;
    //     display: inline-block;
    //     transition: all 0.4s;
    //     box-sizing: border-box;

    //     &:nth-of-type(1) {
    //       top: 0;
    //     }
    //     &:nth-of-type(2) {
    //       top: 20px;
    //     }

    //     &:nth-of-type(3) {
    //       bottom: 0;
    //     }
    //   }

    //   &.active-1 {
    //     span {
    //       &:nth-of-type(1) {
    //         width: 40px;
    //         -webkit-transform: translate(0px, 7px) rotate(40deg);
    //         transform: translate(0px, 7px) rotate(40deg);
    //       }

    //       &:nth-of-type(2) {
    //         opacity: 0;
    //       }

    //       &:nth-of-type(3) {
    //         width: 40px;
    //         -webkit-transform: translate(0px, -7px) rotate(-40deg);
    //         transform: translate(0px, -7px) rotate(-40deg);
    //       }
    //     }
    //   }
    // }
  }

  .sideMenu {
    position: fixed;
    top: 0;
    right: -100%;
    bottom: 0;
    padding: 0 1.3rem;
    width: 340px;
    background: var(--white);
    z-index: 99;

    &.out {
      animation: slid_out forwards 1s;
    }

    &.open {
      animation: slid_in forwards 1s;
    }

    .sideTitle {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1rem;

      > p {
        padding: 1rem 0 0.4rem;
        font-size: 2rem;
        font-weight: 600;
        color: var(--text-1);
        letter-spacing: -1;

        + .side_close {
          margin-top: 0.5rem;
          width: 2.4rem;
          height: 2.4rem;
          font-size: 0;
          color: transparent;
          background: url(../images/icon_arrow.svg) no-repeat center / contain;
        }
      }
    }

    .capsule {
      padding: 5px;
      > button {
        padding: 0 1rem;
        font-size: 1.2rem;
        color: var(--text-2);
        border: 1px solid var(--line);
        border-radius: 9999px;
        line-height: 3rem;
        background: var(--white);

        &.on {
          color: var(--white);
          border: 1px solid var(--primary-Y);
          background: var(--primary-Y);
        }

        + button {
          margin-left: 0.5rem;
        }
      }
    }

    .apt_select {
      margin-top: 1.6rem;
      padding: 1.3rem 0;
      > li {
        display: flex;
        + li {
          margin-top: 2rem;
        }
        &.on {
          border-radius: 1.2rem 0 0 1.2rem;
          background: linear-gradient(
            90deg,
            rgba(242, 242, 242, 1) 0%,
            rgba(242, 242, 242, 1) 97%,
            rgba(255, 151, 0, 1) 97%,
            rgba(255, 151, 0, 1) 100%
          );
          .inner_txt {
            > li {
              &:nth-of-type(1),
              &:nth-of-type(2) {
                color: var(--primary-Y);
              }
            }
          }
        }

        .thum_img2 {
          margin-right: 1.3rem;
          width: 8.2rem;
          height: 8.2rem;
          border-radius: 1.2rem;
        }
        .inner_txt {
          > li {
            + li:not(:nth-of-type(4)) {
              margin-top: 0.4rem;
            }
            &:nth-of-type(1) {
              font-size: 1.4rem;
              font-weight: 600;
              color: var(--text-1);
              line-height: 1.8rem;
              letter-spacing: -1;
            }
            &:nth-of-type(2) {
              padding-bottom: 0.6rem;
              font-size: 1.1rem;
              font-weight: 600;
              color: var(--text-2);
              line-height: 1.8rem;
            }
            &:nth-of-type(3),
            &:nth-of-type(4) {
              font-size: 0.9rem;
              color: var(--text-3);
            }
          }
        }
      }
    }
  }
  .gnb_bg {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: none;
    width: 100%;
    background: rgba($color: #000000, $alpha: 0.4);
    z-index: 90;
  }

  main {
    padding: 4.8rem 0 8.4rem;

    .container {
      max-width: 1280px;
      margin: 0 auto;
      padding: 0 1.6rem;

      section {
        .visual_banner {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0 -1.6rem;
          // width: 39rem;
          // height: 20.4rem;
          background-color: #d9d9d9;
          overflow: hidden;

          > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
          }

          .banner_text {
            left: 2rem;
            padding: 0;
            font-weight: 600;
            text-align: initial;

            h5 {
              font-size: 2.2rem;
              font-weight: 600;
              color: var(--white);
              line-height: initial;
              letter-spacing: -1;
            }

            p {
              font-size: 1.6rem;
              line-height: 2;

              + span {
                font-size: 1.2rem;
              }
            }
          }
        }

        .bar_banner {
          display: flex;
          justify-content: space-between;
          margin: 0 -1.6rem;
          padding: 1.4rem 1.6rem;
          color: var(--white);
          background: var(--black);

          &::after {
            content: "";
            display: inline-block;
            width: 2.4rem;
            height: 2.4rem;
            background: url(../images/icon_chevron_right.svg) no-repeat center /
              contain;
          }
        }

        .category {
          display: flex;
          flex-wrap: wrap;
          margin: 1.6rem -1rem;
          // gap: 1rem;

          > li {
            width: 20%;

            > button {
              padding-top: 4rem;
              width: 100%;
            }

            &:nth-child(n + 6) {
              margin-top: 2rem;
            }
          }
        }

        &.item_list {
          padding: 1.6rem 0;

          .item {
            + .item {
              padding-top: 1.6rem;
            }
            .title {
              display: flex;
              justify-content: space-between;
              line-height: 4.4rem;
              letter-spacing: -1;
              > p {
                font-size: 2rem;
                font-weight: 600;
                color: var(--text-1);
              }
              > span {
                font-size: 1.4rem;
                font-weight: 600;
                color: var(--text-3);
              }
            }
            .tip_list {
              margin: 1.6rem 0.5rem 0;
              > li {
                display: flex;
                align-items: center;
                height: 4rem;
                border-top: 1px solid var(--line1);
                &:nth-child(-n + 5) {
                  &::before {
                    content: "";
                    display: inline-block;
                    margin-right: 1.5rem;
                    width: 3.4rem;
                    height: 3rem;
                  }
                }
              }
            }
            .ranking_list {
              padding: 1.6rem 0;
              border-bottom: 1px solid var(--line2);
              > li {
                display: flex;
                justify-content: space-between;

                + li {
                  margin-top: 1.6rem;
                }

                > div {
                  display: flex;
                  align-items: center;

                  > .thum_img {
                    margin-right: 1.6rem;
                    width: 7.2rem;
                    height: 7.2rem;
                    border-radius: 1.2rem;
                  }

                  .inner_txt {
                    display: flex;
                    flex-direction: column;

                    > p {
                      font-size: 1.4rem;
                    }

                    > small {
                      font-size: 1.2rem;
                      color: var(--text-3);
                    }

                    > span {
                      font-size: 1.2rem;
                      font-weight: 600;
                    }
                  }
                }
                > .average {
                  > span {
                    display: block;
                    width: 3.8rem;
                    height: 3.6rem;
                    font-size: 1.4rem;
                    font-weight: 600;
                    color: var(--white);
                    text-align: center;
                    border-radius: 0.8rem;
                    line-height: 3.4rem;
                    background: var(--primary-Y);
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid var(--line);
    background: #fff;
    z-index: 1;
    .tab_menu {
      display: flex;
      width: 100%;
      height: 6rem;

      > li {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: calc(100% / 4);

        .menu {
          margin: 0.5rem 0;
          // width: 2.4rem;
          height: 2.4rem;
          text-align: center;

          span {
            display: block;
            padding-top: 3rem;
            margin-bottom: 0.3rem;
            font-size: 1rem;
            font-weight: 600;
            color: var(--text-tab2);
          }

          &.on {
            span {
              color: var(--text-tab1);
            }
          }
        }
      }
    }
  }
}

// 애니메이션
@-webkit-keyframes slid_in {
  0% {
    right: -100%;
  }
  100% {
    right: 0;
  }
}
@keyframes slid_in {
  0% {
    right: -100%;
  }
  100% {
    right: 0;
  }
}
@-webkit-keyframes slid_out {
  0% {
    right: 0;
  }
  100% {
    right: -100%;
  }
}
@keyframes slid_out {
  0% {
    right: 0;
  }
  100% {
    right: -100%;
  }
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
}
