@import url("common.css");
@import url("swiper.css");
.Icon_1 {
  background: url(../images/tab_icon_1.svg) no-repeat center/contain;
}

.Icon_1.on {
  background: url(../images/tab_icon_on_1.svg) no-repeat center/contain;
}

.business_1 {
  background: url(../images/category_icon_1.png) no-repeat top/3.4rem;
}

.tip_list > li:nth-child(1)::before {
  background: url(../images/tip_icon_1.png) no-repeat center/contain;
}
.tip_list > li:nth-child(1) > a {
  flex: 1;
}

.Icon_2 {
  background: url(../images/tab_icon_2.svg) no-repeat center/contain;
}

.Icon_2.on {
  background: url(../images/tab_icon_on_2.svg) no-repeat center/contain;
}

.business_2 {
  background: url(../images/category_icon_2.png) no-repeat top/3.4rem;
}

.tip_list > li:nth-child(2)::before {
  background: url(../images/tip_icon_2.png) no-repeat center/contain;
}
.tip_list > li:nth-child(2) > a {
  flex: 1;
}

.Icon_3 {
  background: url(../images/tab_icon_3.svg) no-repeat center/contain;
}

.Icon_3.on {
  background: url(../images/tab_icon_on_3.svg) no-repeat center/contain;
}

.business_3 {
  background: url(../images/category_icon_3.png) no-repeat top/3.4rem;
}

.tip_list > li:nth-child(3)::before {
  background: url(../images/tip_icon_3.png) no-repeat center/contain;
}
.tip_list > li:nth-child(3) > a {
  flex: 1;
}

.Icon_4 {
  background: url(../images/tab_icon_4.svg) no-repeat center/contain;
}

.Icon_4.on {
  background: url(../images/tab_icon_on_4.svg) no-repeat center/contain;
}

.business_4 {
  background: url(../images/category_icon_4.png) no-repeat top/3.4rem;
}

.tip_list > li:nth-child(4)::before {
  background: url(../images/tip_icon_4.png) no-repeat center/contain;
}
.tip_list > li:nth-child(4) > a {
  flex: 1;
}

.Icon_5 {
  background: url(../images/tab_icon_5.svg) no-repeat center/contain;
}

.Icon_5.on {
  background: url(../images/tab_icon_on_5.svg) no-repeat center/contain;
}

.business_5 {
  background: url(../images/category_icon_5.png) no-repeat top/3.4rem;
}

.tip_list > li:nth-child(5)::before {
  background: url(../images/tip_icon_5.png) no-repeat center/contain;
}
.tip_list > li:nth-child(5) > a {
  flex: 1;
}

.Icon_6 {
  background: url(../images/tab_icon_6.svg) no-repeat center/contain;
}

.Icon_6.on {
  background: url(../images/tab_icon_on_6.svg) no-repeat center/contain;
}

.business_6 {
  background: url(../images/category_icon_6.png) no-repeat top/3.4rem;
}

.tip_list > li:nth-child(6)::before {
  background: url(../images/tip_icon_6.png) no-repeat center/contain;
}
.tip_list > li:nth-child(6) > a {
  flex: 1;
}

.Icon_7 {
  background: url(../images/tab_icon_7.svg) no-repeat center/contain;
}

.Icon_7.on {
  background: url(../images/tab_icon_on_7.svg) no-repeat center/contain;
}

.business_7 {
  background: url(../images/category_icon_7.png) no-repeat top/3.4rem;
}

.tip_list > li:nth-child(7)::before {
  background: url(../images/tip_icon_7.png) no-repeat center/contain;
}
.tip_list > li:nth-child(7) > a {
  flex: 1;
}

.Icon_8 {
  background: url(../images/tab_icon_8.svg) no-repeat center/contain;
}

.Icon_8.on {
  background: url(../images/tab_icon_on_8.svg) no-repeat center/contain;
}

.business_8 {
  background: url(../images/category_icon_8.png) no-repeat top/3.4rem;
}

.tip_list > li:nth-child(8)::before {
  background: url(../images/tip_icon_8.png) no-repeat center/contain;
}
.tip_list > li:nth-child(8) > a {
  flex: 1;
}

.Icon_9 {
  background: url(../images/tab_icon_9.svg) no-repeat center/contain;
}

.Icon_9.on {
  background: url(../images/tab_icon_on_9.svg) no-repeat center/contain;
}

.business_9 {
  background: url(../images/category_icon_9.png) no-repeat top/3.4rem;
}

.tip_list > li:nth-child(9)::before {
  background: url(../images/tip_icon_9.png) no-repeat center/contain;
}
.tip_list > li:nth-child(9) > a {
  flex: 1;
}

.Icon_10 {
  background: url(../images/tab_icon_10.svg) no-repeat center/contain;
}

.Icon_10.on {
  background: url(../images/tab_icon_on_10.svg) no-repeat center/contain;
}

.business_10 {
  background: url(../images/category_icon_10.png) no-repeat top/3.4rem;
}

.tip_list > li:nth-child(10)::before {
  background: url(../images/tip_icon_10.png) no-repeat center/contain;
}
.tip_list > li:nth-child(10) > a {
  flex: 1;
}

#toggle_slider {
  display: none;
}
#toggle_slider:checked + label {
  background: var(--primary-Y);
}
#toggle_slider:checked + label::after {
  left: 2.2rem;
}
#toggle_slider + label {
  cursor: pointer;
  position: relative;
  width: 5rem;
  height: 3rem;
  border-radius: 25px;
  text-indent: -9999em;
  background: var(--gray999);
  transition: 0.4s ease-in-out;
}
#toggle_slider + label::after {
  content: "";
  position: absolute;
  top: 0.2rem;
  left: 0.2rem;
  height: 2.6rem;
  width: 2.6rem;
  border-radius: 50%;
  background: #fff;
  transition: 0.4s ease-in-out;
}

.capsule {
  padding: 5px;
}
.capsule > button {
  padding: 0 1rem;
  font-size: 1.2rem;
  color: var(--text-2);
  border: 1px solid var(--line);
  border-radius: 9999px;
  line-height: 3rem;
  background: var(--white);
}
.capsule > button.on {
  color: var(--white);
  border: 1px solid var(--primary-Y);
  background: var(--primary-Y);
}
.capsule > button + button {
  margin-left: 0.5rem;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 4.4rem;
}
.title > p {
  font-size: 2rem;
  font-weight: 600;
}
.title > span {
  font-weight: 600;
  color: var(--text-3);
}
.title > span.arrow {
  width: 2.4rem;
  height: 2.4rem;
  font-size: 0;
  color: transparent;
  background: url(../images/icon_arrow.svg) no-repeat center/contain;
}

.bar {
  margin: 0 -1.6rem;
  height: 0.8rem;
  background: var(--bg-color-2);
}

.splash_screen {
  position: static;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  background: var(--primary-Y);
}
.splash_screen .splash_logo {
  margin-bottom: 5.7rem;
  width: 23.3rem;
  height: 10.8rem;
  background: url(../images/logo_visual.svg) no-repeat center/contain;
  animation: bounce-in-left 2s both;
}
.splash_screen .title_box {
  width: 36rem;
  padding-right: 2.4rem;
  text-align: right;
}
.splash_screen .title_box > p {
  font-size: 2.4rem;
  font-weight: 600;
  color: var(--white);
  animation: slide-in-right 2s ease-in both;
}
.splash_screen .title_box > p:nth-of-type(2) {
  animation: slide-in-right 2s ease-in 400ms both;
}

.currentLocation {
  display: block;
  width: 1.6rem;
  height: 1.6rem;
  background: url(../images/icon_current_location.svg) no-repeat center/contain;
  filter: drop-shadow(0 0 0.8rem rgba(0, 0, 0, 0.29));
}

.pointLocation {
  display: flex;
  align-items: center;
}
.pointLocation > p {
  display: flex;
  align-items: center;
  font-weight: 600;
  color: var(--black);
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
.pointLocation > p::before {
  content: "";
  width: 3.2rem;
  height: 2.6rem;
}
.pointLocation > p.food::before {
  background: url(../images/icon_location_food.png) no-repeat center/contain;
}

.back > a {
  display: block;
  font-size: 0;
  color: transparent;
  width: 4.8rem;
  height: 4.8rem;
  background: url(../images/h_back.svg) no-repeat center/contain;
}

.wrap {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.wrap header {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1280px;
  height: 4.8rem;
  margin: 0 auto;
  border-bottom: 1px solid var(--line);
  background: var(--white);
  z-index: 10;
}
.wrap header .logo > a {
  display: block;
  font-size: 0;
  color: transparent;
  width: 4.8rem;
  height: 4.8rem;
  background: url(../images/h_logo.svg) no-repeat center/contain;
}
.wrap header .page_title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--text-2);
}
.wrap header .btn_sideMenu, .wrap header .btn_option, .wrap header .btn_setting {
  position: absolute;
  right: 0;
  width: 4.8rem;
  height: 4.8rem;
  font-size: 0;
  color: transparent;
  background: url(../images/h_menu.svg) no-repeat center/contain;
}
.wrap header .btn_setting {
  background: url(../images/icon_setting.svg) no-repeat center/2.4rem;
}
.wrap header .btn_option {
  background: url(../images/h_option.svg) no-repeat center/contain;
}
.wrap header.profile {
  height: 6.8rem;
  border-bottom: none;
}
.wrap header.profile .avatar {
  display: flex;
  align-items: center;
  padding-left: 1.6rem;
}
.wrap header.profile .avatar > img {
  margin-right: 1.2rem;
  width: 3.6rem;
  height: 3.6rem;
  border: 1px solid var(--line);
  border-radius: 1.2rem;
}
.wrap header.profile .avatar > p {
  font-weight: 600;
  font-size: 1.6rem;
  color: var(--text-2);
}
.wrap header.profile + main {
  padding-top: 6.8rem;
}
.wrap .sideMenu {
  position: fixed;
  top: 0;
  right: -100%;
  bottom: 0;
  padding: 0 1.3rem;
  width: 340px;
  background: var(--white);
  z-index: 1000;
}
.wrap .sideMenu.out {
  animation: slid_out forwards 1s;
}
.wrap .sideMenu.open {
  animation: slid_in forwards 1s;
}
.wrap .sideMenu .sideTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.wrap .sideMenu .sideTitle > p {
  padding: 1rem 0 0.4rem;
  font-size: 2rem;
  font-weight: 600;
}
.wrap .sideMenu .sideTitle > p + .side_close {
  margin-top: 0.5rem;
  width: 2.4rem;
  height: 2.4rem;
  font-size: 0;
  color: transparent;
  background: url(../images/icon_arrow.svg) no-repeat center/contain;
}
.wrap .sideMenu .apt_select {
  margin: 1.6rem -1.3rem 0 0;
  padding: 1.3rem 1.3rem 1.3rem 0;
  height: calc(100% - 13rem);
  overflow-y: auto;
}
.wrap .sideMenu .apt_select > li {
  display: flex;
}
.wrap .sideMenu .apt_select > li + li {
  margin-top: 2rem;
}
.wrap .sideMenu .apt_select > li.on {
  border-radius: 1.2rem 0 0 1.2rem;
  background: linear-gradient(90deg, rgb(242, 242, 242) 0%, rgb(242, 242, 242) 97%, rgb(255, 151, 0) 97%, rgb(255, 151, 0) 100%);
}
.wrap .sideMenu .apt_select > li.on .inner_txt > li:nth-of-type(1), .wrap .sideMenu .apt_select > li.on .inner_txt > li:nth-of-type(2) {
  color: var(--primary-Y);
}
.wrap .sideMenu .apt_select > li .thumb_img2 {
  margin-right: 1.3rem;
  width: 8.2rem;
  height: 8.2rem;
  border-radius: 1.2rem;
}
.wrap .sideMenu .apt_select > li .inner_txt > li + li:not(:nth-of-type(4)) {
  margin-top: 0.4rem;
}
.wrap .sideMenu .apt_select > li .inner_txt > li:nth-of-type(1) {
  font-weight: 600;
  line-height: 1.8rem;
}
.wrap .sideMenu .apt_select > li .inner_txt > li:nth-of-type(2) {
  padding-bottom: 0.6rem;
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--text-2);
  line-height: 1.8rem;
}
.wrap .sideMenu .apt_select > li .inner_txt > li:nth-of-type(3), .wrap .sideMenu .apt_select > li .inner_txt > li:nth-of-type(4) {
  font-size: 0.9rem;
  color: var(--text-3);
}
.wrap .gnb_bg {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: none;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 999;
}
.wrap main {
  padding: 4.8rem 0 8.4rem;
}
.wrap main .container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1.6rem 2rem;
}
.wrap main .container.category_page {
  margin-top: -1.7rem;
}
.wrap main .container.category_page > section .category {
  margin: initial;
  margin-top: 2.8rem;
  margin-left: 3rem;
}
.wrap main .container.category_page > section .category > li {
  margin-top: initial !important;
  margin-bottom: 3rem;
  width: 50%;
}
.wrap main .container.category_page > section .category > li > button {
  padding: inherit;
  padding-left: 6.5rem;
  width: 20rem;
  height: 4rem;
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--black);
  text-align: left;
  background-size: 4.5rem;
  background-position: left;
}
.wrap main .container.category_page > section .category > li:nth-of-type(8) > button {
  background-size: 3.8rem;
}
.wrap main .container.category_page > section .category > li:nth-of-type(9) > button {
  background-size: 5.5rem;
}
.wrap main .container.category_page > section .category > li:nth-of-type(10) > button {
  background-size: 5rem;
}
.wrap main .container.category_page > section + section {
  margin-top: 6.6rem;
}
.wrap main .container.map_page {
  margin-top: -4.8rem;
  padding-bottom: 0;
}
.wrap main .container section .visual_banner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 -1.6rem;
  background-color: #d9d9d9;
  overflow: hidden;
}
.wrap main .container section .visual_banner > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
}
.wrap main .container section .visual_banner .banner_text {
  left: 2rem;
  padding: 0;
  font-weight: 600;
  text-align: initial;
}
.wrap main .container section .visual_banner .banner_text h5 {
  font-size: 2.2rem;
  font-weight: 600;
  color: var(--white);
  line-height: initial;
}
.wrap main .container section .visual_banner .banner_text p {
  font-size: 1.6rem;
  line-height: 2;
}
.wrap main .container section .visual_banner .banner_text p + span {
  font-size: 1.2rem;
}
.wrap main .container section .bar_banner {
  display: flex;
  justify-content: space-between;
  margin: 0 -1.6rem;
  padding: 1.4rem 1.6rem;
  color: var(--white);
  background: var(--black);
}
.wrap main .container section .bar_banner::after {
  content: "";
  display: inline-block;
  width: 2.4rem;
  height: 2.4rem;
  background: url(../images/icon_chevron_right.svg) no-repeat center/contain;
}
.wrap main .container section .category {
  display: flex;
  flex-wrap: wrap;
  margin: 1.6rem -1rem;
}
.wrap main .container section .category > li {
  width: 20%;
}
.wrap main .container section .category > li > button {
  padding-top: 4rem;
  width: 100%;
}
.wrap main .container section .category > li:nth-child(n+6) {
  margin-top: 2rem;
}
.wrap main .container section.item_list {
  padding-top: 1.6rem;
}
.wrap main .container section.item_list .item + .item {
  padding-top: 1.6rem;
}
.wrap main .container section.item_list .item .capsule {
  margin-bottom: 1.6rem;
}
.wrap main .container section.item_list .item .tip_list {
  margin: 1.6rem 0.5rem 0;
}
.wrap main .container section.item_list .item .tip_list > li {
  display: flex;
  align-items: center;
  height: 4rem;
  border-bottom: 1px solid var(--line1);
}
.wrap main .container section.item_list .item .tip_list > li:nth-child(-n+5)::before {
  content: "";
  display: inline-block;
  margin-right: 1.5rem;
  width: 3.4rem;
  height: 3rem;
}
.wrap main .container section.item_list .item .ranking_list {
  padding: 1.6rem 0;
  border-bottom: 1px solid var(--line2);
}
.wrap main .container section.item_list .item .ranking_list > li {
  display: flex;
  justify-content: space-between;
}
.wrap main .container section.item_list .item .ranking_list > li + li {
  margin-top: 1.6rem;
}
.wrap main .container section.item_list .item .ranking_list > li > div {
  display: flex;
  align-items: center;
}
.wrap main .container section.item_list .item .ranking_list > li > div > .thumb_img {
  margin-right: 1.6rem;
  width: 7.2rem;
  height: 7.2rem;
  border-radius: 1.2rem;
}
.wrap main .container section.item_list .item .ranking_list > li > div .inner_txt {
  display: flex;
  flex-direction: column;
}
.wrap main .container section.item_list .item .ranking_list > li > div .inner_txt > small {
  font-size: 1.2rem;
  color: var(--text-3);
}
.wrap main .container section.item_list .item .ranking_list > li > div .inner_txt > span {
  font-size: 1.2rem;
  font-weight: 600;
}
.wrap main .container section.item_list .item .ranking_list > li > .average > span {
  display: block;
  width: 3.8rem;
  height: 3.6rem;
  font-weight: 600;
  color: var(--white);
  text-align: center;
  border-radius: 0.8rem;
  line-height: 3.4rem;
  background: var(--primary-Y);
}
.wrap main .container section .detail_view .img_container {
  margin: 0 -1.6rem;
}
.wrap main .container section .detail_view .img_container .thumb_img3 {
  width: 100%;
  max-width: 102.4rem;
  min-width: 39rem;
}
.wrap main .container section .detail_view > p {
  display: flex;
  align-items: center;
  padding-top: 1.6rem;
  font-size: 2.4rem;
  font-weight: 600;
}
.wrap main .container section .detail_view > p > small {
  margin-left: 0.5rem;
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--text-3);
}
.wrap main .container section .detail_view > p + span {
  padding-top: 0.4rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-2);
}
.wrap main .container section .detail_view > p + span > em {
  display: inline-flex;
  align-items: center;
  margin-left: 0.5rem;
  font-weight: 600;
}
.wrap main .container section .detail_view > p + span > em::before {
  content: "";
  display: inline-block;
  margin-right: 0.5rem;
  width: 1.2rem;
  height: 1.2rem;
  background: url(../images/icon_rating.svg) no-repeat center/contain;
}
.wrap main .container section .detail_view .introduce {
  font-weight: 500;
}
.wrap main .container section .user_act {
  display: flex;
  margin: 1.6rem -1.6rem 0;
  border-top: 1px solid var(--line);
}
.wrap main .container section .user_act > li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1.6rem 0;
  width: 33.3333%;
  height: 4.9rem;
  font-weight: 600;
  color: var(--text-2);
}
.wrap main .container section .user_act > li::before {
  content: "";
  width: 2.4rem;
  height: 2.4rem;
  background: url(../images/icon_phone.svg) no-repeat center/contain;
}
.wrap main .container section .user_act > li:nth-of-type(2)::before {
  background: url(../images/icon_star.svg) no-repeat center/contain;
}
.wrap main .container section .user_act > li:nth-of-type(3)::before {
  background: url(../images/icon_share.svg) no-repeat center/contain;
}
.wrap main .container section .user_act > li + li {
  border-left: 1px solid var(--line);
}
.wrap main .container section .place_info > ul {
  padding: 1.6rem 0;
}
.wrap main .container section .place_info > ul li {
  display: flex;
  align-items: center;
  font-weight: 600;
  line-height: 2.4rem;
}
.wrap main .container section .place_info > ul li::before {
  content: "";
  margin-right: 1.6rem;
  width: 2.4rem;
  height: 2.4rem;
  border: 1px solid red;
}
.wrap main .container section .place_info > ul li:nth-child(1)::before {
  background: url(../images/icon_location.svg) no-repeat center/contain;
}
.wrap main .container section .place_info > ul li:nth-child(1) > div > small {
  display: block;
  font-size: 1.4rem;
  font-weight: 400;
}
.wrap main .container section .place_info > ul li:nth-child(2)::before {
  background: url(../images/icon_clock.svg) no-repeat center/contain;
}
.wrap main .container section .place_info > ul li:nth-child(3)::before {
  background: url(../images/icon_phone.svg) no-repeat center/contain;
}
.wrap main .container section .place_info > ul li:nth-child(4)::before {
  background: url(../images/icon_link.svg) no-repeat center/contain;
}
.wrap main .container section .place_info > ul li + li {
  margin-top: 0.8rem;
}
.wrap main .container section .place_info + .button {
  margin-bottom: 3.3rem;
}
.wrap main .container section .benefit form {
  padding: 1.6rem 0;
}
.wrap main .container section .benefit form label {
  padding-bottom: 0.5rem;
  font-size: 1.3rem;
  color: var(--text-2);
}
.wrap main .container section .store_detail form {
  padding: 1.6rem 0;
}
.wrap main .container section .store_detail form:nth-of-type(2) .detail_input + label {
  margin-top: 2.6rem;
}
.wrap main .container section .store_detail form + form {
  margin-top: 0.9rem;
}
.wrap main .container section .store_detail form label {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.5rem;
  font-weight: 500;
  color: var(--text-2);
}
.wrap main .container section .store_detail form label span > em {
  color: var(--text-violet);
}
.wrap main .container section .store_detail .button {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  width: initial;
  height: 2.9rem;
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--text-1);
  border: 1px solid var(--text-1);
  border-radius: 0.2rem;
  line-height: 2.9rem;
  background: #fff;
}
.wrap main .container section .store_detail .button::before {
  content: "";
  margin-right: 0.5rem;
  width: 1.5rem;
  height: 1.8rem;
  background: url(../images/icon_aiTwinkle.png) no-repeat center/contain;
}
.wrap main .container section .login_induce {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.6rem 0;
}
.wrap main .container section .login_induce > p {
  padding-bottom: 1.6rem;
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--text-2);
}
.wrap main .container section .login_induce > p + .button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0.8rem;
  width: initial;
  color: var(--white);
  line-height: 3.6rem;
  border-radius: 0.8rem;
  background: var(--primary-Y);
}
.wrap main .container section .login_induce > p + .button::before {
  content: "";
  margin-right: 0.4rem;
  width: 2rem;
  height: 2rem;
  background: url(../images/icon_plus_white.svg) no-repeat center/contain;
}
.wrap main .container section .my_list > li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4.8rem;
  font-size: 1.6rem;
}
.wrap main .container section .my_list > li::after {
  content: "";
  width: 2.4rem;
  height: 2.4rem;
  background: url(../images/icon_arrow.svg) no-repeat center/contain;
}
.wrap main .container section .my_list > li.myAPT::after {
  display: none;
}
.wrap main .container section .my_list + .title {
  margin-top: 2.4rem;
}
.wrap main .container section .toggle_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 -1.6rem;
  padding: 0 1.6rem;
  height: 4.8rem;
  background: var(--bg-color-3);
}
.wrap main .container section .toggle_bar > p {
  font-size: 1.6rem;
}
.wrap main .container section .toggle_bar + .button {
  margin: 6.2rem 0;
}
.wrap main .container section .toggle_bar + .detail_view > p {
  padding: 2.6rem 0;
}
.wrap main .container section .login_title_box {
  margin: 3.7rem 0 4.1rem 3rem;
}
.wrap main .container section .login_title_box > .logo {
  width: 16.3rem;
  height: 7.2rem;
  background: url(../images/logo_login.svg) no-repeat center/contain;
}
.wrap main .container section .login_title_box > p {
  margin-left: 1rem;
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--line1);
}
.wrap main .container section .social_area > .button {
  position: relative;
}
.wrap main .container section .social_area > .button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 1.6rem;
  transform: translateY(-50%);
  width: 2.4rem;
  height: 2.4rem;
}
.wrap main .container section .social_area > .button + .button {
  margin-top: 1.6rem;
}
.wrap main .container section .social_area > .button.naver {
  background: var(--naver--color);
}
.wrap main .container section .social_area > .button.naver::before {
  background: url(../images/social_naver.png) no-repeat center/contain;
}
.wrap main .container section .social_area > .button.kakao {
  color: var(--text-1);
  background: var(--kakao--color);
}
.wrap main .container section .social_area > .button.kakao::before {
  background: url(../images/social_kakao.png) no-repeat center/contain;
}
.wrap main .container section .social_area > .button.google {
  color: var(--text-1);
  border: 1px solid var(--line);
  background: var(--google--color);
}
.wrap main .container section .social_area > .button.google::before {
  background: url(../images/social_google.png) no-repeat center/contain;
}
.wrap main .container section .login_area .bar_and {
  position: relative;
  margin: 2.4rem 0;
  padding-top: 0.9rem;
  height: 1.8rem;
}
.wrap main .container section .login_area .bar_and::after {
  content: "";
  display: block;
  width: 100%;
  border-top: 1px solid rgba(187, 197, 204, 0.4);
}
.wrap main .container section .login_area .bar_and > span {
  position: absolute;
  top: 0rem;
  left: 50%;
  transform: translateX(-50%);
  width: 7rem;
  height: 1.8rem;
  color: var(--text-4);
  text-align: center;
  background: var(--white);
  z-index: 9;
}
.wrap main .container section .login_area .btnBox_col {
  display: flex;
}
.wrap main .container section .login_area .btnBox_col > .button + .button {
  margin-left: 0.8rem;
}
.wrap main .container section .login_area .btnBox_col > .button.btn_email {
  color: var(--text-tab1);
  background: var(--text-tab2);
}
.wrap main .container section .login_area > p {
  margin: 2.4rem auto 0;
  width: 26.6rem;
  font-size: 1.2rem;
  color: var(--text-3);
  text-align: center;
  letter-spacing: -0.5;
}
.wrap main .container section .map_search {
  display: flex;
}
.wrap main .container section .map_search .back {
  margin-left: -1.2rem;
}
.wrap main .container section .map_search .input_wrap.search {
  flex: 1;
  margin-left: 0;
}
.wrap main .container section .location_capsule {
  position: absolute;
  top: 5.6rem;
  left: 0;
  right: 0;
  display: flex;
  white-space: nowrap;
  margin-right: -1.6rem;
  padding: 1.6rem;
  overflow-x: auto;
}
.wrap main .container section .location_capsule > li {
  display: flex;
  align-items: center;
  padding: 0.2rem 1.2rem 0;
  height: 3.6rem;
  font-weight: 600;
  color: var(--text-2);
  border: 1px solid var(--line);
  border-radius: 9999px;
  background: var(--white);
}
.wrap main .container section .location_capsule > li + li {
  margin-left: 0.8rem;
}
.wrap main .container section .location_capsule > li:nth-last-of-type(1) {
  margin-right: 0.8rem;
}
.wrap main .container section .location_capsule > li::before {
  content: "";
  margin-top: -0.4rem;
  margin-right: 0.4rem;
  width: 2rem;
  height: 2rem;
  background: url(../images/icon_location.svg) no-repeat center/contain;
}
.wrap main .container section .floating_btn {
  position: absolute;
  bottom: 10rem;
  width: 4rem;
  height: 4rem;
  background: url(../images/icon_floating_btn.svg) no-repeat center/contain;
  filter: drop-shadow(0 0.8rem 2.4rem rgba(0, 0, 0, 0.1));
}
.wrap main .container section .mapBG {
  white-space: nowrap;
  margin: 0 -1.6rem;
  height: calc(100% - 56px - 83px);
  background: url(../images/ex_img5.png) no-repeat center/cover;
}
.wrap footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid var(--line);
  background: #fff;
  z-index: 99;
}
.wrap footer .tab_menu {
  display: flex;
  width: 100%;
  height: 8.3rem;
}
.wrap footer .tab_menu > li {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
}
.wrap footer .tab_menu > li .menu {
  margin: 0.5rem 0;
  height: 2.4rem;
  text-align: center;
}
.wrap footer .tab_menu > li .menu span {
  display: block;
  padding-top: 3rem;
  margin-bottom: 0.3rem;
  font-size: 1rem;
  font-weight: 600;
  color: var(--text-tab2);
}
.wrap footer .tab_menu > li .menu.on span {
  color: var(--text-tab1);
}

/* .ellipsis */
.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
}

/* input */
textarea,
input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  background: transparent;
}

.textArea_wrap {
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
  height: 10rem;
  border: 1px solid var(--line);
  border-radius: 1.2rem;
}
.textArea_wrap > textarea {
  width: 100%;
}
.textArea_wrap > textarea:focus {
  border: none;
  box-shadow: none;
}
.textArea_wrap > textarea::-moz-placeholder {
  color: var(--text-4);
}
.textArea_wrap > textarea::placeholder {
  color: var(--text-4);
}

.input_wrap {
  display: flex;
  align-items: center;
  height: 4rem;
  font-size: 1.6rem;
  border-radius: 1.2rem;
}
.input_wrap > input[type=text] {
  padding: 0 1rem;
  width: 100%;
}
.input_wrap > input[type=text]::-moz-placeholder {
  color: var(--text-4);
}
.input_wrap > input[type=text]::placeholder {
  color: var(--text-4);
}
.input_wrap.search {
  margin: 0.8rem -0.8rem;
  background: var(--bg-color-2);
}
.input_wrap.search::before {
  content: "";
  margin-left: 0.8rem;
  width: 2.4rem;
  height: 2.4rem;
  background: url(../images/icon_search.svg) no-repeat center/contain;
}
.input_wrap.search > input[type=text] {
  width: calc(100% - 4.8rem);
}
.input_wrap.map {
  border: 1px solid red;
}
.input_wrap.benefit_input, .input_wrap.detail_input {
  flex-direction: row;
  border: 1px solid var(--line);
  border-radius: 0.8rem;
}
.input_wrap.benefit_input + label, .input_wrap.detail_input + label {
  margin-top: 1.6rem;
}
.input_wrap.detail_input {
  font-size: 1.4rem;
}
.input_wrap.detail_input + label {
  margin-top: 1.4rem;
}
.input_wrap.detail_input + .detail_input {
  margin-top: 1rem;
}

/* button */
.button {
  width: 100%;
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--white);
  border-radius: 1.2rem;
  line-height: 5rem;
  background: var(--primary-Y);
}
@keyframes slid_in {
  0% {
    right: -100%;
  }
  100% {
    right: 0;
  }
}
@keyframes slid_out {
  0% {
    right: 0;
  }
  100% {
    right: -100%;
  }
}
/**
 * ----------------------------------------
 * animation bounce-in-left
 * ----------------------------------------
 */
@keyframes bounce-in-left {
  0% {
    transform: translateX(-600px);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateX(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateX(-68px);
    animation-timing-function: ease-in;
  }
  72% {
    transform: translateX(0);
    animation-timing-function: ease-out;
  }
  81% {
    transform: translateX(-28px);
    animation-timing-function: ease-in;
  }
  90% {
    transform: translateX(0);
    animation-timing-function: ease-out;
  }
  95% {
    transform: translateX(-8px);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateX(0);
    animation-timing-function: ease-out;
  }
}
/**
 * ----------------------------------------
 * animation slide-in-right
 * ----------------------------------------
 */
@keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.select_wrap {
  position: relative;
  display: flex;
  align-items: center;
  height: 4rem;
  color: var(--text-1);
  border: 1px solid var(--line);
  border-radius: 1.2rem;
  background-color: #ffffff;
  cursor: pointer;
}
.select_wrap.selected .type_selectText::after {
  content: "";
  transform: rotate(180deg);
}
.select_wrap + label {
  margin-top: 1.4rem;
}

.type_selectText {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
  color: var(--text-1);
}
.type_selectText::after {
  content: "";
  position: absolute;
  right: 1rem;
  width: 2.4rem;
  height: 2.4rem;
  background: url(../images/icon_select.svg) no-repeat center/contain;
}
.type_selectText.placeholder {
  color: var(--text-3);
  background-color: transparent;
}

.type_selectList {
  position: absolute;
  top: 4.2rem;
  padding: 1rem;
  width: 100%;
  text-align: left;
  border: 1px solid var(--line);
  background-color: #ffffff;
  z-index: 10;
}
.type_selectList .type_selectOption {
  height: 4rem;
  line-height: 4rem;
  padding-left: 1.5rem;
  cursor: pointer;
}

.type_selectOption:hover {
  color: #ffffff;
  background-color: var(--primary-Y);
}/*# sourceMappingURL=style.css.map */