.swiper {
  margin: 0 -1.6rem 0 0;
  /* width: 100%; */
  height: 327px;
}

.swiper-slide {
  display: flex;
  margin-top: 1.6rem;
  background: #fff;
}

.swiper-slide .swiper_item > li {
  display: flex;
  align-items: center;
}

.swiper-slide .swiper_item > li + li {
  margin-top: 2rem;
}

.swiper-slide .swiper_item > li .inner_txt > li {
  font-size: 1rem;
  font-weight: 500;
}

.swiper-slide .swiper_item > li .inner_txt > li + li {
  padding-top: 0.7rem;
}

.swiper-slide .swiper_item > li .inner_txt li:nth-child(1) {
  font-size: 1.2rem;
  line-height: 2.4rem;
}

.swiper-slide .swiper_item > li .inner_txt li:nth-child(3) {
  padding-top: 2rem;
  color: var(--text-red);
}

.swiper-slide .swiper_item > li img.thum_img1 {
  display: block;
  margin-right: 1rem;
  width: 11rem;
  /* height: 100%; */
  -o-object-fit: cover;
  object-fit: cover;
}
